<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <!-- <p-table #maintable [value]="maindata" autoLayout="true" dataKey="product_name" csvSeparator="," exportFilename="testernih">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix">
                                <div style="float: left;" *ngIf="privilege_list.includes('priv_master_w')">
                                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" (click)="maintable.exportCSV()" style="float:left"></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Product</th>
                                <th>Item</th>
                                <th>Total Stok (Box + WH)</th>
                                <th>Stok Fisik</th>
                                <th>Selisih</th>
                            </tr>
                        </ng-template>
                        
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="rowData">
                                <td *ngIf="rowGroupMetadata[rowData.product_name].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.product_name].size">
                                    {{rowData.product_name}}
                                </td>
                                <td>{{rowData.product_detail_name}}</td>
                                <td>{{rowData.total_stock_data}}</td>
                                <td>{{rowData.stock_actual}}</td>
                                <td>{{rowData.selisih}}</td>
                                </tr>
                            </ng-template>
                    </p-table> -->
                    <p-table #maintable [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix">
                                <div style="float: left;" *ngIf="privilege_list.includes('priv_master_w')">
                                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" (click)="maintable.exportCSV()" style="float:left"></button>
                                </div>
                                <div style="float: right;">
                                    <i class="fa fa-search" style="margin-right: 5px;"></i>
                                    <input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-maindata let-columns="columns">
                            <tr [pSelectableRow]="maindata">
                                <td *ngFor="let col of columns">
                                    {{maindata[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>