<div class="wrapper wrapper-content">
	<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#ffff00" type = "square-jelly-box" ></ngx-spinner>
	<div class="row animated fadeInRight">
		<div class="col-md-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Profile Detail</h5>
				</div>
				<div>
					<div class="ibox-content no-padding border-left-right">
						<img alt="image" class="img-responsive" *ngIf="datauser.image" [src]="showImage(datauser.image)">
						<img alt="image" class="img-responsive" *ngIf="!datauser.image" src="assets/img/pp.jpg">
					</div>
					<div class="ibox-content profile-content">
						<h4 *ngIf="datauser.name"><strong>{{datauser.name}}</strong></h4>
						<p *ngIf="datauser.address"><i class="fa fa-map-marker"></i> {{datauser.address}}</p>
						<h5>
							About me
						</h5>
						<p *ngIf="datauser.aboutme">
							{{datauser.aboutme}}
						</p>
						<!-- <div class="user-button">
							<div class="row">
								<div class="col-md-6">
									<button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
								</div>
								<div class="col-md-6">
									<button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
								</div>
							</div>
						</div> -->
					</div>
			</div>
		</div>
			</div>
		<div class="col-md-8">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Account Information</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">User Data</h3>
							<form enctype='multipart/form-data' role="form" [formGroup]="data_form" (ngSubmit)="data_form_submit()">
								<div class="form-group"><label>Name</label> <input formControlName="name" type="text" placeholder="Enter Name" class="form-control"></div>
								<div class="form-group"><label>Email</label> <input formControlName="email" type="email" placeholder="Enter email" class="form-control"></div>
								<div class="form-group"><label>Username</label> <input formControlName="username" type="text" placeholder="Enter Username" class="form-control"></div>
								<div class="form-group"><label>Address</label> <textarea formControlName="address" class="form-control" rows="2"></textarea> </div>
								<div class="form-group"><label>About Me</label> <textarea formControlName="aboutme" class="form-control" rows="2"></textarea> </div>
								<div>
								<div class="form-group"><label>Profile Picture</label> 
									<br/>
									<p-fileUpload mode="basic" auto="true" name="demo" url="{{API_URL}}/encode_image" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
									<br/>
									<img width="100px;" *ngIf="fileToUpload" [src]="showImage(fileToUpload)">
								</div>
									<button [disabled]="!data_form.valid" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Update Profile</strong></button>
								</div>
							</form>
						</div>
						<div class="col-sm-6"><h3 class="m-t-none m-b">Account Security</h3>
							<form role="form" [formGroup]="password_form" (ngSubmit)="password_form_submit()">
								<div class="form-group"><label>New Password</label> <input formControlName="password" type="password" placeholder="Enter New Password" class="form-control"></div>
								<div class="form-group"><label>Password Confirmation</label> <input formControlName="confirmation" type="password" placeholder="Enter Password Confirmation" class="form-control"></div>
								<div>
									<!-- <button [disabled]="!password_form.valid" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Update Data</strong></button> -->
									<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Update Data</strong></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>