<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
      <div class="ibox-content m-b-sm border-bottom">
        <form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="month" class="cols-sm-2 control-label">Pilih Warehouse</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <p-dropdown [style]="{'width':'260px'}" [options]="dropdown" formControlName="warehouse"></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Filter Data</button>
        </form>
      </div>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table #maintable [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="50" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="caption">
              <div class="ui-helper-clearfix">
                  <!-- <div style="float: left;" *ngIf="privilege_list.includes('priv_master_w')"> -->
                  <div style="float: left;">
                      <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" (click)="maintable.exportCSV()" style="float:left"></button>
                    </div>
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata let-columns="columns">
							<tr [pSelectableRow]="maindata">
								<td *ngFor="let col of columns">
									{{maindata[col.field]}}
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>