<div class="footer">
  <div class="pull-right" style="color: red;">
      <strong><small><marquee>Development On Progress</marquee></small></strong>
  </div>
  <div>
      <strong>Copyright</strong> PT. Patriot Medika Nusantara 2018
  </div>
</div>