<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
				</div>
				<div class="ibox-content">
					<p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15">
						<ng-template pTemplate="header">
							<tr>
								<th>Product</th>
								<th>Product Detail</th>
								<th>Quantity EOQ</th>
								<th>Total WH + Box</th>
								<!-- <th>Status</th> -->
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData>
							<tr>
								<td>{{rowData.product_name}}</td>
								<td>{{rowData.product_detail_name}}</td>
								<td>{{rowData.quantity}}</td>
								<td>{{rowData.sisa_wh_and_box}}</td>
								<!-- <td *ngIf="rowData.sisa_wh_and_box * 10/100 < rowData.sisa_wh_and_box">ORDER</td>
								<td *ngIf="rowData.sisa_wh_and_box * 10/100 > rowData.sisa_wh_and_box">AMAN</td> -->
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>