<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table #maintable [responsive]="true" [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15"
					 [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;" *ngIf="privilege_list.includes('priv_user_w')">
									<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i>Tambah</button>
									<!-- <button type="button" class="btn btn-xs btn-info" (click)="maintable.exportCSV()"><i class="fa fa-file-o"></i> Export</button> -->
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input type="text" placeholder="Search..." pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')"
									 style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
								<th>
									Action
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata let-columns="columns">
							<tr [pSelectableRow]="maindata">
								<td *ngFor="let col of columns">
									{{maindata[col.field]}}
								</td>
								<td>
									<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="handleRowSelect(maindata)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-6 b-r">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nama</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" formControlName="name" placeholder="Masukan Nama" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" formControlName="email" placeholder="Masukan Email" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" formControlName="username" placeholder="Masukan Username" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="cols-sm-2 control-label">Level</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-vcard-o fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_level" formControlName="level"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Divisi</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-vcard-o fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_division" formControlName="division"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Atasan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_parent" formControlName="parent"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Privilege</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cc-discover" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_privilege" formControlName="privilege"></p-dropdown>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-6 b-r">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nama</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" formControlName="name" placeholder="Masukan Name" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" formControlName="email" placeholder="Masukan Email" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" formControlName="username" placeholder="Masukan Username" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="cols-sm-2 control-label">Level</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-vcard-o fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_level" formControlName="level"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Divisi</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-vcard-o fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_division" formControlName="division"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Atasan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_parent" formControlName="parent"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Privilege</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cc-discover" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="user_privilege" formControlName="privilege"></p-dropdown>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false" *ngIf="privilege_list.includes('priv_user_w')">
				<button type="button" class="btn btn-xs btn-warning" type="button" (click)="forgot_password()" style="margin-right:5px;">Reset
					Password</button>
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Ubah</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>