<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table #maintable [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
								<th width="10%">
									Action
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata let-columns="columns">
							<tr [pSelectableRow]="maindata">
								<td *ngFor="let col of columns">
									{{maindata[col.field]}}
								</td>
								<td>
									<button title="Edit" type="button" class="btn btn-xs btn-info" (click)="handleRowSelect(maindata)"><i class="fa fa-edit"></i></button>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal detail -->
<bs-modal #detail [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-1">
						<img src="assets/img/logopmn.png" style="width: 55px; height: 70px;">
					</div>
					<div class="col-sm-11">
						<address>
							<strong>PT. Patriot Medika Nusantara</strong><br>
							Jl. Kelapa dua, Tangerang - Banten 15810<br>
							Fax : (021) - 7257608<br>
							Telp : (021) - 29015270<br>
							<div style="text-align: right;">No : <small><strong>{{nomor_dokumen}}</strong></small></div><br>
						</address>
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Product</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of maindata_detail">
							<td>{{item.product_detail_name}}</td>
							<td>{{item.quantity}}</td>
						</tr>
					</tbody>
				</table>
			</bs-modal-body>
		
	</div>
</bs-modal>