<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="40">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;" *ngIf="privilege_list.includes('priv_pb_w')">
									<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header">
							<tr>
								<th>Tanggal</th>
								<th>No Purchase Request</th>
								<th>Dibuat Oleh</th>
								<th>Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata>
							<tr>
								<td><small>{{maindata.date | date:'d MMM, y'}}</small></td>
								<td><small>{{maindata.no_pr}}</small></td>
								<td><small>{{maindata.created_by_name}}</small></td>
								
								<td class="text-left">
									<div class="btn-group">
										<button class="btn-white btn btn-xs" (click)="handleRowSelect(maindata)" title="Info Box"><i class="fa fa-pencil"></i></button>
										<!-- <button title="Print" class="btn-white btn btn-xs" (click)="viewPDF(maindata.id)"><i class="fa fa-file-pdf-o"></i></button> -->
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<h3 class="m-t-none m-b">Information</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Tanggal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="date"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Product</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product" formControlName="product" (onChange)="select_product($event.value)"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Item</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" formControlName="product_detail"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button title="Edit" type="button" class="btn btn-xs btn-info" (click)="tambah_list_add()"><i class="fa fa-pecil"></i> Tambah ke List</button>
						</div>
					</div>
					<div class="col-sm-8 b-r">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Product</th>
									<th>Code</th>
									<th>Item</th>
									<th>Quantity</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of store_temp1">
									<td>{{data.product_name}}</td>
									<td>{{data.product_detail_code}}</td>
									<td>{{data.product_detail_name}}</td>
									<td>{{data.quantity}}</td>
									<td>
										<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="editBufferList(data)"><i class="fa fa-pencil"></i></button>
										<button title="Delete" type="button" class="btn btn-xs btn-white" (click)="removeBufferList(data)"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="submit" class="btn btn-xs btn-primary" [disabled]="!add_form.valid">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<h3 class="m-t-none m-b">Information</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Tanggal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="date"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Product</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product" formControlName="product" (onChange)="select_product($event.value)"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Item</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" formControlName="product_detail"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
								</div>
							</div>
						</div>
						<div class="form-group" *ngIf="privilege_list.includes('priv_pb_w')">
							<button *ngIf="po_form_state == 1" title="Add" type="button" class="btn btn-xs btn-info" (click)="tambah_list_add()"><i class="fa fa-plus"></i> Tambah ke List</button>
							<button *ngIf="po_form_state == 2" title="Edit" type="button" class="btn btn-xs btn-info" (click)="edit_list_po()"><i class="fa fa-pecil"></i> Ubah Data</button>
						</div>
					</div>
					<div class="col-sm-8 b-r">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Product</th>
									<th>Code</th>
									<th>Item</th>
									<th>Quantity</th>
									<th *ngIf="privilege_list.includes('priv_pb_w')">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of list_po">
									<td>{{data.product_name}}</td>
									<td>{{data.product_detail_code}}</td>
									<td>{{data.product_detail_name}}</td>
									<td>{{data.quantity}}</td>
									<td *ngIf="privilege_list.includes('priv_pb_w')">
										<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="editPOList(data)"><i class="fa fa-pencil"></i></button>
										<button title="Delete" type="button" class="btn btn-xs btn-white" (click)="removePOList(data)"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Batal</button>
				<button *ngIf="po_form_state == 1" type="submit" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>



<bs-modal id="printview" #printview [backdrop]="'static'" class="modal">
	<div class="col-lg-12" style="margin: 10px;">
		
		
		
		<!-- <button class="btn btn-xs btn-primary pull-right" (click)="downloadPDF()">Download</button> -->
		<button class="btn btn-xs btn-default pull-right" (click)="printview.dismiss()">Close</button>
		
	</div>
	<div id="cobatesyangini" class="ibox-content p-xl" style="height: 1300px; color: black;">
		<div class="row">
			<div class="col-sm-1">
				<img src="assets/img/logopmn.png" style="width: 55px; height: 70px;">
			</div>
			<div class="col-sm-11">
				<address>
					<strong>PT. Patriot Medika Nusantara</strong><br>
					Jl. Kelapa dua, Tangerang - Banten 15810<br>
					Fax : (021) - 7257608<br>
					Telp : (021) - 29015270<br>
					<!-- <div style="text-align: right;">No : <small><strong>{{datadetail?.no_ro}}</strong></small></div><br> -->
				</address>
			</div>
		</div>
		
		<div class="body_invoice">
			<div style="text-align: center;">
				<h3>Form Purchase Order</h3>
			</div>
			<div class="h-divider"></div>
			<table class="table">
				<tr>
					<td><strong>Diajukan oleh</strong></td>
					<td>:</td>
					<td>{{data_po?.user_name}}</td>
				</tr>
				<tr>
					<td><strong>Tanggal</strong></td>
					<td>:</td>
					<td>{{data_po?.date | date:'d MMMM, y, h:mm:ss a'}}</td>
				</tr>
				<tr>
					<td><strong>Nomor PO</strong></td>
					<td>:</td>
					<td>{{data_po?.no_po}}</td>
				</tr>
			</table>
			
			<div style="text-align: center;">
				<h3>Rincian Barang</h3>
			</div>
			<div class="h-divider"></div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Kode</th>
						<th>Tipe Screw dan Size</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let data of data_po_detail">
						<td>{{data.product_name}}</td>
						<td>{{data.product_detail_code}}</td>
						<td>{{data.product_detail_name}}</td>
						<td>{{data.quantity}}</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div class="row vbottom">
			<div class="col-lg-3" style="border: 1px solid #ccc; height: 150px;">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">SPV</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3" style="border: 1px solid #ccc; height: 150px;">
				<div class="ibox">
					<div class="ibox-content ">
						<h5 class="m-b-md">Logistic Manager</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3" style="border: 1px solid #ccc; height: 150px;">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">Sales Manager</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-3" style="border: 1px solid #ccc; height: 150px;">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">Direrctor</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row well m-t">
			Keterangan : Warna putih (Warehouse), warna biru (Quality Control), Merah (Sales)
		</div>
	</div>
</bs-modal>