<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
          </div>
          <div class="ibox-content">
            <p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Nomor SO</th>
                      <th>Dibuat Oleh</th>
                      <th>Start</th>
                      <th>End</th>
                      <th>SO Status</th>
                      <th>Stock</th>
                      <th>Action</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                  <tr>
                      <td>
                      {{rowData.no_so}}
                      </td>
                      <td>
                      {{rowData.created_by_name}}
                      </td>
                      <td>
                      {{rowData.created_date | date:'d MMMM, y'}}
                      </td>
                      <td>
                          {{rowData.finish_date | date:'d MMMM, y'}}
                      </td>
                      <td>
                          <label *ngIf='rowData.status == 0' class="label label-warning">On Progress</label>
                          <label *ngIf='rowData.status == 1' class="label label-info">Completed</label>
                      </td>
                      <td>
                        <label *ngIf="rowData.integrated == 0" class="label label-warning">Belum Disesuaikan</label>
                        <label *ngIf="rowData.integrated == 1" class="label label-primary">Sudah Disesuaikan</label>
                      </td>
                      <td>
                        <div class="btn-group">
                          <button class="btn-white btn btn-xs" (click)="viewResult(rowData)" title="Isi Box">Hasil</button>
                          <button class="btn-white btn btn-xs" (click)="integration(rowData)" title="Info Box" *ngIf="privilege_list.includes('priv_sor_w')">Detail</button>
                        </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Create -->
  <bs-modal #create [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
      <form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
        <bs-modal-body>
          <div class="row">
            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Diagnosa Case</h3>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter Case"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
          <button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
        </bs-modal-footer>
      </form>
    </div>
  </bs-modal>
  
  <!-- Modal Edit -->
  <bs-modal #edit [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
      <form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
        <bs-modal-body>
          <div class="row">
            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Diagnosa Case</h3>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter Case"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Cancel</button>
          <button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Update</button>
        </bs-modal-footer>
      </form>
    </div>
  </bs-modal>