<div class="wrapper wrapper-content animated fadeInRight">
	
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('all')" style="cursor:pointer">
					<span class="label label-primary pull-right">{{count_maindata.all}}</span>
					<h5>Semua Penggunaan</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('sync')" style="cursor:pointer">
					<span class="label label-success pull-right">{{count_maindata.sync}}</span>
					<h5>Sudah disesuaikan</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('unsync')" style="cursor:pointer">
					<span class="label label-warning pull-right">{{count_maindata.unsync}}</span>
					<h5>Belum disesuaikan</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" style="cursor:pointer">
					<span class="label label-danger pull-right">{{count_maindata.notcount}}</span>
					<h5>Belum di Input</h5>
				</div>
			</div>
		</div>
	</div>

	<div class="ibox-content m-b-sm border-bottom">
		<form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="tanggal" class="cols-sm-2 control-label">Tanggal</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.date" formControlName="date"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="bulan" class="cols-sm-2 control-label">Bulan</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.month" formControlName="month"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="tahun" class="cols-sm-2 control-label">Tahun</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.year" formControlName="year"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Tampilkan Data</button>
		</form>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div style="float: left;" *ngIf="privilege_list.includes('priv_penggunaanbarang_w')">
						<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i>
							Tambah</button>
					</div>
				</div>
				<div class="ibox-content">
					<p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15">
						<ng-template pTemplate="header">
							<tr>
								<th>No Ro</th>
								<th>Tanggal</th>
								<th>Rumah Sakit</th>
								<th>Dokter</th>
								<th>Syncronize</th>
								<th *ngIf="privilege_list.includes('priv_penggunaanbarang_w')">Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata>
							<tr>
								<td>{{maindata.no_ro}}</td>
								<td>{{maindata.date | date:'d MMMM, y'}}</td>
								<td>{{maindata.hospital_name}}</td>
								<td>{{maindata.doctor_name}}</td>
								<td *ngIf="privilege_list.includes('priv_penggunaanbarang_w')">
									<label *ngIf="maindata.integrated == 0" class="label label-warning">Belum disesuaikan</label>
									<label *ngIf="maindata.integrated == 1" class="label label-info">Completed</label>
									<label *ngIf="maindata.integrated == 2" class="label label-success">Tanpa Penggunaan</label>
								</td>
								<td>
									<div class="btn-group">
										<button title="Edit" class="btn-white btn btn-xs" (click)="handleRowSelect(maindata)"><i class="fa fa-pencil"></i></button>
										<button title="Alat Tambahan" class="btn-white btn btn-xs" (click)="product_request(maindata)"><i class="fa fa-edit"></i></button>
										<button *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && maindata.integrated == 0 && maindata.stage == 8 && button_sinkron" title="Syncronize" class="btn btn-xs btn-warning" (click)="syncronize(maindata)"><i class="fa fa-gear"></i></button>
										<button *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && maindata.integrated == 1" class="btn-white btn btn-xs" (click)="print(maindata)" title="Info Pengiriman"><i class="fa fa-file-excel-o"></i></button>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()" class="form-horizontal">
			<div class="ibox-content">
				<div class="form-group">
					<label class="col-lg-2 control-label">Pilih Nomor RO</label>
					<div class="col-lg-10">
						<p-dropdown [style]="{'width':'210px'}" [options]="dropdown.rencana_operasi" (onChange)="select_ro($event.value)" formControlName="id_ro"></p-dropdown>
					</div>
				</div>
			</div>
			<bs-modal-body>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-6 b-r">
							<!-- <div class="form-group">
								<label class="col-lg-2 control-label">No RO</label>
								<div class="col-lg-10">
									<p-dropdown [style]="{'width':'210px'}" [options]="dropdown.rencana_operasi" (onChange)="select_ro($event.value)"
									formControlName="id_ro"></p-dropdown>
								</div>
							</div> -->
							<div class="panel blank-panel">
								<div class="panel-options">
									<ul class="nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#tab-produk-utama"><strong>Produk Utama</strong></a></li>
										<li><a data-toggle="tab" href="#tab-alat-pendukung"><strong>Alat Pendukung</strong></a></li>
									</ul>
								</div>
								<div class="panel-body">
									<div class="tab-content">
										<div id="tab-produk-utama" class="tab-pane active">
											<div class="form-group">
												<label class="col-lg-2 control-label">Box</label>
												<div class="col-lg-10">
													<p-dropdown [style]="{'width':'210px'}" [options]="dropdown.product" (onChange)="select_product($event.value)"
													formControlName="id_box"></p-dropdown>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Item</label>
												<div class="col-lg-10">
													<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" (onChange)="select_product_detail($event)"
													formControlName="id_product_detail"></p-dropdown>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Quantity</label>
												<div class="col-lg-10">
													<input type="number" style="width:210px" placeholder="Jumlah Pemakaian" class="form-control" formControlName="quantity">
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label"></label>
												<div class="col-lg-10">
													<button type="button" (click)="add_to_table()" class="btn btn-primary btn-xs">Masukan kedalam list</button>
												</div>
											</div>
										</div>
										<div id="tab-alat-pendukung" class="tab-pane">
											<div class="form-group">
												<label class="col-lg-2 control-label">Item</label>
												<div class="col-lg-10">
													<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.alat_pendukung" formControlName="id_product_detail_pendukung" (onChange)="select_product_detail_pendukung($event)"></p-dropdown>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label">Quantity</label>
												<div class="col-lg-10">
													<input type="number" style="width:210px" placeholder="Jumlah Pemakaian" class="form-control" formControlName="quantity_pendukung">
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-2 control-label"></label>
												<div class="col-lg-10">
													<button type="button" (click)="add_to_table_pendukung()" class="btn btn-primary btn-xs">Masukan kedalam list</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="full-height-scroll" style="overflow: visible; width: auto; height: 100%;">
								<ul class="list-group clear-list">
									<h3>Informasi Rencana Operasi</h3>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.no_ro}} </span>
										Nomor
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.hospital_name}} </span>
										RS
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.doctor_name}} </span>
										Dokter
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </span>
										Tanggal Operasi
									</li>
									<form *ngIf="show_update_form" [formGroup]="update_ro_form" (ngSubmit)="onSubmitUpdate()" class="form-horizontal">
										<li class="list-group-item">
											<input type="text" style="width:210px" class="pull-right" formControlName="name" placeholder="nama pasien harus diisi">
											Pasien
										</li>
										<li class="list-group-item">
											<input type="text" style="width:210px" class="pull-right" formControlName="no_mr" placeholder="Nomor MR harus diisi">
											No MR
										</li>
										<li class="list-group-item">
											Case
											<div class="input-group pull-right">
												<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.case" formControlName="case" (onChange)="onChangeDiagnosaCase($event)"></p-dropdown>
											</div>
										</li>
										<li class="list-group-item">
											SubCase
											<div class="input-group pull-right">
												<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.subcase" formControlName="subcase"></p-dropdown>
											</div>
										</li>
										<br/>
										<div class="pull-right">
											<button type="submit" class="btn btn-primary btn-xs" [disabled]="!update_ro_form.valid">Update RO</button>
										</div>
									</form>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="ibox float-e-margins" style="margin-top:20px;">
									<div class="ibox-content">
										<div class="table-responsive">
											<table class="table table-striped">
												<thead>
													<tr>
														<th>Box</th>
														<th>Kode</th>
														<th>Item</th>
														<th>Jumlah</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let data of store_temp1">
														<td>{{data.box_code}}</td>
														<td>{{data.product_detail_code}}</td>
														<td>{{data.product_detail_name}}</td>
														<td>{{data.quantity}}</td>
														<td>
															<button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeList(data)" style="margin-right: 5px;"><i
																class="fa fa-minus"></i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<bs-modal-body>
		<div class="row">
			<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()" class="form-horizontal">
				<div class="col-sm-6 b-r" *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && allow_revisi">
					<div class="form-group">
						<label class="col-lg-2 control-label">Box</label>
						<div class="col-lg-10">
							<p-dropdown [style]="{'width':'210px'}" [options]="dropdown.product" (onChange)="select_product($event.value)"
							formControlName="id_box"></p-dropdown>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Item</label>
						<div class="col-lg-10">
							<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" (onChange)="select_product_detail($event)"
							formControlName="id_product_detail"></p-dropdown>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Quantity</label>
						<div class="col-lg-10">
							<input type="number" style="width:210px" placeholder="Jumlah Pemakaian" class="form-control" formControlName="quantity">
						</div>
					</div>
					<div class="form-group" *ngIf="privilege_list.includes('priv_penggunaanbarang_w')" >
						<label class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<button type="button" (click)="onSubmitEdit()" class="btn btn-primary btn-xs">Tambahkan list</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
						<ul class="list-group clear-list">
							<h3>Informasi Rencana Operasi</h3>
							<li class="list-group-item">
								<span class="pull-right"> {{info_ro?.no_ro}} </span>
								Nomor
							</li>
							<li class="list-group-item">
								<span class="pull-right"> {{info_ro?.hospital_name}} </span>
								RS
							</li>
							<li class="list-group-item">
								<span class="pull-right"> {{info_ro?.doctor_name}} </span>
								Dokter
							</li>
							<li class="list-group-item">
								<span class="pull-right"> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </span>
								Tanggal Operasi
							</li>
							<form [formGroup]="update_ro_form" (ngSubmit)="onSubmitUpdate()" class="form-horizontal">
								<li class="list-group-item">
									<!-- <span class="pull-right"> {{info_ro?.pasien}} </span> -->
									<input type="text" style="width:210px" class="pull-right" formControlName="name" placeholder="nama pasien harus diisi">
									Pasien
								</li>
								<li class="list-group-item">
									<!-- <span class="pull-right"> {{info_ro?.pasien}} </span> -->
									<input type="text" style="width:210px" class="pull-right" formControlName="no_mr" placeholder="No MR Harus diisi">
									No MR
								</li>
								<div class="text-right">
									<button type="submit" class="btn btn-primary btn-xs">Update RO</button>
								</div>
							</form>
							<!-- <li class="list-group-item">
								<span class="pull-right"> {{info_ro?.pasien}} </span>
								Pasien
							</li> -->
							<br/>
							<!-- <div class="pull-right">
								<button type="submit" class="btn btn-danger btn-xs" (click)="revisi()">Revisi Penggunaan</button>
							</div> -->
						</ul>
					</div>
				</div>
			</form>
			<div class="col-lg-12">
				<div class="ibox float-e-margins" style="margin-top:20px;">
					<div class="ibox-content">
						<div class="table-responsive">
							<p-table selectionMode="single" (onRowSelect)="edit_data_detail($event)" [value]="detaildata" autoLayout="true"
							 [rows]="15">
								<ng-template pTemplate="header">
									<tr>
										<th>Box</th>
										<th>Kode</th>
										<th>Item</th>
										<th>Jumlah</th>
										<th *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && integrated_status == false">Action</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr>
										<td>{{rowData.product_name}} - {{rowData.code_box}}</td>
										<td>{{rowData.code}}</td>
										<td>{{rowData.product_detail_name}}</td>
										<td>{{rowData.quantity}}</td>
										<td *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && integrated_status == false">
											<button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeList_edit(rowData)" style="margin-right: 5px;">
												<i class="fa fa-minus"></i>
											</button>
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</bs-modal-body>
	<bs-modal-footer [showDefaultButtons]="false">
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Tutup</button>
	</bs-modal-footer>
</bs-modal>

<!-- Modal Tambahan -->
<bs-modal #tambahan [backdrop]="'static'" class="modal inmodal">
	<bs-modal-body>
		<div class="row">
			<form enctype="multipart/form-data" [formGroup]="tambahan_form" (ngSubmit)="onSubmitEdit()" class="form-horizontal">
				<div class="col-sm-12" *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && allow_revisi">
					<h3 class="m-t-none m-b">Tambahan Product Diluar Box</h3>
					<div class="form-group col-sm-4">
						<label for="name" class="cols-sm-2 control-label">Product</label>
						<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown_tambahan.product" formControlName="product" (onChange)="onChangeProductTambahan($event)"></p-dropdown>
						</div>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label for="name" class="cols-sm-2 control-label">Item</label>
						<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown_tambahan.product_detail" formControlName="product_detail"></p-dropdown>
						</div>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label for="name" class="cols-sm-2 control-label">Quantity</label>
						<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity" style="height:30px;"/>
						</div>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<div class="cols-sm-12">
						<div class="input-group" style="margin-top:10px;">
							<button type="button" class="btn btn-xs btn-primary" (click)="add_tambahan_to_table()">Tambahkan ke list</button>
						</div>
						</div>
					</div>
				</div>
			</form>
			<div class="col-lg-12">
				<div class="ibox float-e-margins" style="margin-top:20px;">
					<div class="ibox-content">
						<div class="table-responsive">
							<p-table selectionMode="single" (onRowSelect)="edit_data_detail($event)" [value]="detaildata" autoLayout="true"
							 [rows]="15">
								<ng-template pTemplate="header">
									<tr>
										<th>Box</th>
										<th>Kode</th>
										<th>Item</th>
										<th>Jumlah</th>
										<th *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && integrated_status == false">Action</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowData>
									<tr [pSelectableRow]="rowData">
										<td>{{rowData.product_name}} - {{rowData.code_box}}</td>
										<td>{{rowData.code}}</td>
										<td>{{rowData.product_detail_name}}</td>
										<td>{{rowData.quantity}}</td>
										<td *ngIf="privilege_list.includes('priv_penggunaanbarang_w') && integrated_status == false">
											<button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeList_edit(rowData)" style="margin-right: 5px;">
												<i class="fa fa-minus"></i>
											</button>
										</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</bs-modal-body>
	<bs-modal-footer [showDefaultButtons]="false">
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="tambahan.dismiss()" style="margin-right:5px;">Tutup</button>
	</bs-modal-footer>
</bs-modal>