<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
						<div class="row">
							<div class="col-sm-4 b-r">
								<div class="form-group">
									<label class="cols-sm-2 control-label">Kurir</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
											<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kurir" formControlName="kurir"></p-dropdown>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="cols-sm-2 control-label">Nomor Kendaraan</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
											<input type="text" class="form-control" style="height:29px" formControlName="no_kendaraan" placeholder="Masukan Nomor Kendaraan"/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="cols-sm-2 control-label">Start Pengiriman</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
											<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="start"></p-calendar>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="cols-sm-2 control-label">Estimasti Tiba</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
											<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="estimasi"></p-calendar>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="cols-sm-2 control-label">Nomor RO</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
											<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.rencana_operasi" (onChange)="onChangeRO($event)"></p-dropdown>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
									<div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
										<ul class="list-group clear-list">
											<h3>Informasi Rencana Operasi</h3>
											<li class="list-group-item">
												<span class="pull-right"> {{info_ro?.no_ro}} </span>
												Nomor
											</li>
											<li class="list-group-item">
												<span class="pull-right"> {{info_ro?.hospital_name}} </span>
												RS
											</li>
											<li class="list-group-item">
												<span class="pull-right"> {{info_ro?.doctor_name}} </span>
												Dokter
											</li>
											<li class="list-group-item">
												<span class="pull-right"> {{info_ro?.pasien}} </span>
												Pasien
											</li>
											<li class="list-group-item">
												<span class="pull-right"> {{info_ro?.request_instrument_name}} </span>
												Product
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<ul class="list-group clear-list">
									<h3>Informasi Box</h3>
									<li class="list-group-item" *ngFor="let dat of info_box">
										<span class="pull-right">{{dat.code_box}}</span>
										{{dat.product_name}}
									</li>
									<strong>Notes</strong>
									<p>{{info_ro?.remarks}}</p>
								</ul>
							</div>
						</div>
						<button type="button" class="btn btn-xs btn-warning" [disabled]="!add_form.valid" type="button" (click)="store()">Tambah ke List</button>
					</form>
				</div>
			</div>
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="ibox-content">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>Nomor Rencana Operasi</th>
								<th>Rumah Sakit</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let data of store_temp1">
								<td>{{data.no_ro}}</td>
								<td>{{data.hospital_name}}</td>
								<td>
									<button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeList(data)" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
						<button type="button" class="btn btn-xs btn-primary" (click)="submitpost();" [disabled]="store_temp1.length == 0" type="submit">Submit Surat Pengiriman Barang</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">SPB Data</h3>
						
						<div class="form-group">
							<label class="cols-sm-2 control-label">Kurir</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kurir" formControlName="kurir"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor Kendaraan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" placeholder="Masukan Nomor Kendaraan"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">SPB Data</h3>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor RO</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.rencana_operasi" formControlName="ro"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Kurir</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kurir" formControlName="kurir"></p-dropdown>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor Kendaraan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" style="height:29px" placeholder="Masukan Nama"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Update</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>