<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
          </div>
          <div class="ibox-content">
            
            <p-table #maintable [value]="maindata" autoLayout="true" lazyLoadOnInit="true">
                <ng-template pTemplate="caption" *ngIf="privilege_list.includes('priv_replacement_w')">
                  <div class="ui-helper-clearfix">
                    <div style="float: left;">
                      <button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
                    </div>
                    </div>
                </ng-template>
              <ng-template pTemplate="header">
                    <tr>
                        <th>Product Masuk</th>
                        <th>Item masuk</th>
                        <th>Product Keluar</th>
                        <th>Item Keluar</th>
                        <th>Quantity</th>
                        <th>Integrated</th>
                        <th *ngIf="privilege_list.includes('priv_replacement_w')">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>{{rowData.product_in_name}}</td>
                        <td>{{rowData.product_detail_in_name}}</td>
                        <td>{{rowData.product_out_name}}</td>
                        <td>{{rowData.product_detail_out_name}}</td>
                        <td>{{rowData.quantity}}</td>
                        <td *ngIf="rowData.integrated == 0"><label class="label label-warning">Belum Disesuaikan</label></td>
                        <td *ngIf="rowData.integrated == 1"><label class="label label-primary">Sudah Disesuaikan</label></td>
                        <td *ngIf="privilege_list.includes('priv_replacement_w')">
                          <div class="btn-group">
                            <button class="btn-white btn btn-xs" (click)="handleRowSelect(rowData)" title="Info Box">Edit</button>
                            <button class="btn-white btn btn-xs" (click)="integration(rowData)" title="Info Box">Integrated</button>
                          </div>      
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Create -->
  <bs-modal #create [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
      <form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
        <bs-modal-body>
          <div class="row">
            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Masuk</h3>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Product</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-briefcase fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_in" (onChange)="select_product_in($event.value)" formControlName="product_in"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Item</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cube fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail_in" (onChange)="select_product_detail_in($event.value)" formControlName="product_detail_in"></p-dropdown>
                  </div>
                </div>
              </div>
              <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
                <li class="success-element ui-sortable-handle" id="task1">
                  <label><i class="fa fa-building" aria-hidden="true"></i> {{sisa_in?.wh}}</label><br/>
                  <label><i class="fa fa-cube" aria-hidden="true"></i> {{sisa_in?.box}}</label>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 "><h3 class="m-t-none m-b">Keluar</h3>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Product</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-briefcase fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_out" (onChange)="select_product_out($event.value)" formControlName="product_out"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Item</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cube fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail_out" (onChange)="select_product_detail_out($event.value)" formControlName="product_detail_out"></p-dropdown>
                  </div>
                </div>
              </div>
              <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
                <li class="warning-element ui-sortable-handle" id="task1">
                  <label><i class="fa fa-building" aria-hidden="true"></i> {{sisa_out?.wh}}</label><br/>
                  <label><i class="fa fa-cube" aria-hidden="true"></i> {{sisa_out?.box}}</label>
                </li>
              </ul>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Quantity</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
                    <input type="number" [style]="{'width':'210px',height:'10px'}" max="100" pInputText placeholder="Quantity" class="form-control" formControlName="quantity">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
          <button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
        </bs-modal-footer>
      </form>
    </div>
  </bs-modal>
  
  <!-- Modal Create -->
  <bs-modal #edit [backdrop]="'static'" class="modal inmodal">
      <div class="modal-content">
        <form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
          <bs-modal-body>
            <div class="row">
              <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Masuk</h3>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Product</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_in" (onChange)="select_product_in($event.value)" formControlName="product_in"></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Item</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail_in" (onChange)="select_product_detail_in($event.value)" formControlName="product_detail_in"></p-dropdown>
                    </div>
                  </div>
                </div>
                <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
                  <li class="success-element ui-sortable-handle" id="task1">
                    <label><i class="fa fa-building" aria-hidden="true"></i> {{sisa_in?.wh}}</label><br/>
                    <label><i class="fa fa-cube" aria-hidden="true"></i> {{sisa_in?.box}}</label>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 "><h3 class="m-t-none m-b">Keluar</h3>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Product</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_out" (onChange)="select_product_out($event.value)" formControlName="product_out"></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Item</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail_out" (onChange)="select_product_detail_out($event.value)" formControlName="product_detail_out"></p-dropdown>
                    </div>
                  </div>
                </div>
                <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
                  <li class="warning-element ui-sortable-handle" id="task1">
                    <label><i class="fa fa-building" aria-hidden="true"></i> {{sisa_out?.wh}}</label><br/>
                    <label><i class="fa fa-cube" aria-hidden="true"></i> {{sisa_out?.box}}</label>
                  </li>
                </ul>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Quantity</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="number" [style]="{'width':'210px',height:'10px'}" pInputText placeholder="Quantity" class="form-control" formControlName="quantity">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </bs-modal-body>
          <bs-modal-footer [showDefaultButtons]="false">
            <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Batal</button>
            <button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Ubah</button>
          </bs-modal-footer>
        </form>
      </div>
    </bs-modal>