<div class="wrapper wrapper-content animated fadeInRight">
	
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('fix')" style="cursor:pointer">
					<span class="label label-success pull-right">Monthly</span>
					<h5>Fixed</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{count_maindata.fix}}</h1>
					<div class="stat-percent font-bold text-success">{{count_maindata.fix_percentage}}% <i class="fa fa-bolt"></i></div>
					<small>Percentage</small>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('reschedule')" style="cursor:pointer">
					<span class="label label-warning pull-right">Monthly</span>
					<h5>Reschedule</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{count_maindata.reschedule}}</h1>
					<div class="stat-percent font-bold text-info">{{count_maindata.reschedule_percentage}}% <i class="fa fa-level-up"></i></div>
					<small>Percentage</small>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('canceled')" style="cursor:pointer">
					<span class="label label-danger pull-right">Monthly</span>
					<h5>Canceled</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{count_maindata.canceled}}</h1>
					<div class="stat-percent font-bold text-danger">{{count_maindata.canceled_percentage}}% <i class="fa fa-level-down"></i></div>
					<small>Percentage</small>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('progress')" style="cursor:pointer">
					<span class="label label-primary pull-right">Today</span>
					<h5>Operation Progress</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">{{count_maindata.onprogress}}</h1>
					<div class="stat-percent font-bold text-navy"><i class="fa fa-level-up"></i></div>
					<small>-</small>
				</div>
			</div>
		</div>
	</div>

	<div class="ibox-content m-b-sm border-bottom">
		<form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="tanggal" class="cols-sm-2 control-label">Tanggal</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.date" formControlName="date"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="bulan" class="cols-sm-2 control-label">Bulan</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.month" formControlName="month"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="tahun" class="cols-sm-2 control-label">Tahun</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.year" formControlName="year"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Tampilkan Data</button>
		</form>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table #maintable [responsive]="true" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="20" [globalFilterFields]="['no_ro','date','hospital_name','doctor_name','created_by_name']">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;" *ngIf="privilege_list.includes('priv_ro_w')">
									<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i>Tambah</button>
								</div>
								<div style="float: left;">
									<button type="button" class="btn btn-xs btn-info" (click)="export_ro()" style="margin-right: 5px;"><i class="fa fa-file-o"></i>Export</button>
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input type="text" placeholder=" Search..." pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')"
									style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header">
							<tr style="font-size:12px;">
								<th>No</th>
								<th>Tanggal</th>
								<th>Rumah Sakit</th>
								<th>Dokter</th>
								<th>Diajukan</th>
								<th>Status</th>
								<th>Progress</th>
								<th *ngIf="privilege_list.includes('priv_ro_w')">Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata>
							<tr style="font-size:95%">
								<td><small>{{maindata.no_ro}}</small></td>
								<td><small>{{maindata.date | date:'d MMM, y'}}</small></td>
								<td><small>{{maindata.hospital_name}}</small></td>
								<td><small>{{maindata.doctor_name}}</small></td>
								<td><small>{{maindata.created_by_name}}</small></td>
								<td>
									<span *ngIf="maindata.status_ro == 1" class="label label-primary status_ro">Fix</span>
									<span *ngIf="maindata.status_ro == 2" class="label label-warning status_ro">Reschedule</span>
									<span *ngIf="maindata.status_ro == 3" class="label label-danger status_ro">Cancel</span>
								</td>
								<td><small>{{maindata.stage_name}}</small></td>
								
								<td class="text-left" *ngIf="privilege_list.includes('priv_ro_w')">
									<div class="btn-group">
										<button *ngIf="maindata.status_ro != 3 && maindata.stage != 9" title="Edit" class="btn-white btn btn-xs" (click)="handleRowSelect(maindata)"><i class="fa fa-pencil"></i></button>
										<button title="View" class="btn-white btn btn-xs" (click)="viewProject(maindata.id)"><i class="fa fa-files-o"></i></button>
										<button *ngIf="privilege_list.includes('priv_ro_w') && maindata.status_ro == 1" title="Print" class="btn-white btn btn-xs" (click)="viewPDF(maindata.id)"><i class="fa fa-file-pdf-o"></i></button>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form class="form-horizontal" enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<div class="modal-header">
				<h4 class="modal-title">Form Rencana Operasi</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel blank-panel">
							<div class="panel-options">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#tab-create-sales"><strong>Informasi</strong></a></li>
									<li><a data-toggle="tab" href="#tab-create-product"><strong>Product</strong></a></li>
									<li><a data-toggle="tab" href="#tab-alat-pendukung"><strong>Alat Pendukung</strong></a></li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div id="tab-create-sales" class="tab-pane active">
										<div class="col-lg-6 b-r">
											<div class="form-group">
												<label class="col-lg-3 control-label">Tanggal</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-calendar dateFormat="yy-mm-dd" inputStyleClass="form-control" mindate="today" [showTime]="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal"
														formControlName="date"></p-calendar>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Tipe</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.type_ro" formControlName="type_ro"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">RS.</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.hospital" formControlName="hospital"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Dokter</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.doctor" formControlName="doctor"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Anatomi</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.spine_anatomi"
														formControlName="spine_anatomi"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Case</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.case" formControlName="case"
														(onChange)="onChangeDiagnosaCase($event)"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Subcase</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.subcase" formControlName="subcase"></p-dropdown>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="col-lg-3 control-label">Tagihan</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.jenis_tagihan"
														formControlName="jenis_tagihan"></p-dropdown>
													</div>
												</div>
											</div>
											<!-- <div class="form-group">
												<label class="col-lg-3 control-label">Instrument</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-multiSelect defaultLabel="-Pilih-" [options]="dropdown.product" [style]="{'width':'210px','font-weight':'normal'}" formControlName="request_instrument"></p-multiSelect>
													</div>
												</div>
											</div> -->
											<div class="form-group">
												<label class="col-lg-3 control-label">Pasien</label>
												<div class="col-lg-9">
													<div class="input-group">
														<input type="text" [style]="{'width':'210px',height:'10px'}" pInputText placeholder="Nama Pasien" class="form-control"
														formControlName="pasien">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">No MR</label>
												<div class="col-lg-9">
													<div class="input-group">
														<input type="text" [style]="{'width':'210px',height:'10px'}" pInputText placeholder="Nomor Medical record"
														class="form-control" formControlName="no_mr">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Remarks</label>
												<div class="col-lg-9">
													<div class="input-group">
														<textarea [rows]="6" [cols]="27" pInputTextarea autoResize="autoResize" formControlName="remarks"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="tab-create-product" class="tab-pane">
										<div class="col-lg-4 b-r">
											<label>List Product Tersedia</label>
											<div class="form-group">
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product" formControlName="request_instrument"></p-dropdown>
													</div>
												</div>
											</div>
											<button type="button" class="btn btn-w-m btn-primary" (click)="tambah_list_add()">Tambahkan kedalam list</button>
										</div>
										<div class="col-lg-8">
											<label>List Product yang digunakan</label>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Product</th>
														<th>Item</th>
														<th>Kode Box</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let data of store_temp1">
														<td>{{data.product_name}}</td>
														<td>{{data.product_detail_name}}</td>
														<td>
															<label *ngIf="data.code_box == NULL">- Belum di isi -</label>
															<label *ngIf="data.code_box != NULL">{{data.code_box}}</label>
														</td>
														<td>
															<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="removeList(data)"><i class="fa fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div id="tab-alat-pendukung" class="tab-pane">
										<div class="col-lg-4 b-r">
											<label>Alat Pendukung</label>
											<div class="form-group">
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.alat_pendukung" formControlName="alat_pendukung"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-lg-9">
													<div class="input-group">
														<input type="number" [style]="{'width':'210px',height:'10px'}" pInputText placeholder="Quantity" class="form-control" formControlName="quantity_alat_pendukung">
													</div>
												</div>
											</div>
											<button type="button" class="btn btn-w-m btn-primary" (click)="add_alat_pendukung()">Tambahkan kedalam list</button>
										</div>
										<div class="col-lg-8">
											<label>List Alat pendukung yang digunakan</label>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Item</th>
														<th>Quantity</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let data of store_temp2">
														<td>{{data.product_detail_name}}</td>
														<td>{{data.quantity}}</td>
														<td>
															<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="removeList2(data)"><i class="fa fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Tambahkan</button>
			</div>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form class="form-horizontal" enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel blank-panel">
							<div class="panel-options">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#tab-edit-sales"><strong>Informasi</strong></a></li>
									<li><a data-toggle="tab" href="#tab-edit-product"><strong>Product</strong></a></li>
									<li><a data-toggle="tab" href="#tab-edit-alat-pendukung"><strong>Alat Pendukung</strong></a></li>
									<li *ngIf="privilege_list.includes('priv_ro_w') && tab_box == true"><a data-toggle="tab" href="#tab-edit-quality"><strong>Status Box</strong></a></li>
									<li *ngIf="privilege_list.includes('priv_ro_w') && tab_ts == true"><a data-toggle="tab" href="#tab-edit-ts"><strong>Technical Support</strong></a></li>
									<li><a data-toggle="tab" href="#tab-edit-status"><strong><u>Status RO</u></strong></a></li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div id="tab-edit-sales" class="tab-pane active">
										<div class="col-lg-6 b-r">
											<div class="form-group">
												<label class="col-lg-3 control-label">Tanggal</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal"
														formControlName="date"></p-calendar>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Tipe</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.type_ro" formControlName="type_ro"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">RS.</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.hospital" formControlName="hospital"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Dokter</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.doctor" formControlName="doctor"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Anatomi</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.spine_anatomi"
														formControlName="spine_anatomi"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Case</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.case" formControlName="case"
														(onChange)="onChangeDiagnosaCase($event)"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Subcase</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.subcase" formControlName="subcase"></p-dropdown>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="col-lg-3 control-label">Tagihan</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.jenis_tagihan"
														formControlName="jenis_tagihan"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Pasien</label>
												<div class="col-lg-9">
													<div class="input-group">
														<input type="text" [style]="{'width':'210px',height:'10px'}" pInputText placeholder="Nama Pasien" class="form-control"
														formControlName="pasien">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">No MR</label>
												<div class="col-lg-9">
													<div class="input-group">
														<input type="text" [style]="{'width':'210px',height:'10px'}" pInputText placeholder="Nomor Medical record"
														class="form-control" formControlName="no_mr">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-lg-3 control-label">Remarks</label>
												<div class="col-lg-9">
													<div class="input-group">
														<textarea [rows]="6" [cols]="27" pInputTextarea autoResize="autoResize" formControlName="remarks"></textarea>
													</div>
												</div>
											</div>
											<div class="form-group" *ngIf="user_id == 1 || user_id == 3">
												<label class="col-lg-3 control-label">Proses</label>
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.stage"
														formControlName="stage"></p-dropdown>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="tab-edit-product" class="tab-pane">
										<div class="col-lg-4 b-r" *ngIf="privilege_list.includes('priv_ro_w')">
											<label>List Product Tersedia</label>
											<div class="form-group">
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product" formControlName="request_instrument"></p-dropdown>
													</div>
												</div>
											</div>
											<button type="button" class="btn btn-w-m btn-primary" (click)="tambah_list()">Tambahkan kedalam list</button>
										</div>
										<div class="col-lg-8">
											<label>List Product yang digunakan</label>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Product</th>
														<th>Item</th>
														<th>Kode Box</th>
														<th *ngIf="privilege_list.includes('priv_ro_w')">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let data of data_product_list">
														<td>{{data.principle_name}}</td>
														<td>{{data.product_name}}</td>
														<td>
															<label *ngIf="data.code_box == NULL">- Belum di isi -</label>
															<label *ngIf="data.code_box != NULL">{{data.code_box}}</label>
														</td>
														<td *ngIf="privilege_list.includes('priv_ro_w')">
															<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="removeListEdit(data)"><i class="fa fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div id="tab-edit-alat-pendukung" class="tab-pane">
										<div class="col-lg-4 b-r" *ngIf="privilege_list.includes('priv_ro_w')">
											<label>Alat Pendukung</label>
											<div class="form-group">
												<div class="col-lg-9">
													<div class="input-group">
														<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.alat_pendukung" formControlName="alat_pendukung"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-lg-9">
													<div class="input-group">
														<input type="number" [style]="{'width':'210px',height:'10px'}" pInputText placeholder="Quantity" class="form-control" formControlName="quantity_alat_pendukung">
													</div>
												</div>
											</div>
											<button type="button" class="btn btn-w-m btn-primary" (click)="edit_list_alat_pendukung()">Tambahkan list</button>
										</div>
										<div class="col-lg-8">
											<label>List Alat pendukung yang digunakan</label>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Item</th>
														<th>Quantity</th>
														<th *ngIf="privilege_list.includes('priv_ro_w')">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let data of data_alat_pendukung_list">
														<td>{{data.product_detail_name}}</td>
														<td>{{data.quantity}}</td>
														<td *ngIf="privilege_list.includes('priv_ro_w')">
															<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="removeList_Alat_pendukung(data)"><i class="fa fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div id="tab-edit-quality" class="tab-pane" *ngIf="privilege_list.includes('priv_ro_w')">
										<div class="col-lg-4 b-r">
											<div class="input-group">
												<p>Status Box</p>
												<div class="ui-g-12">
													<p-radioButton value="1" name="group1" formControlName="status_box" label="Stay" inputId="opt1"></p-radioButton>
												</div>
												<div class="ui-g-12">
													<p-radioButton value="2" name="group1" formControlName="status_box" label="Mobile" inputId="opt2"></p-radioButton>
												</div>
												<div class="ui-g-12">
													<p-radioButton value="3" name="group1" formControlName="status_box" label="Other" inputId="opt3"></p-radioButton>
												</div>
											</div>
										</div>
										<div class="col-lg-8">
											<p>
												Lorem ipsum eget urna mollis ornare vel eu leo. Cum sociisnatoque penatibus et magnis dis parturient
												montes, code nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed euismod
												aliquet sapien consequat tincidunt.
											</p>
										</div>
									</div>
									<div id="tab-edit-ts" class="tab-pane">
										<div class="col-lg-4 b-r">
											<div class="input-group">
												<p>Technical Support</p>
												<p-dropdown [style]="{'width':'200px'}" [options]="dropdown.ts_list" formControlName="ts"></p-dropdown>
											</div>
										</div>
										<div class="col-lg-8">
											<p>
												Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus,
												nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Sed euismod aliquet sapien
												consequat tincidunt.
											</p>
										</div>
									</div>
									<div id="tab-edit-status" class="tab-pane">
										<div class="col-lg-4 b-r">
											<div class="input-group">
												<p>Status Rencana Operasi</p>
												<p-dropdown [style]="{'width':'200px'}" [options]="dropdown.status_ro" formControlName="status_ro"></p-dropdown>
											</div>
										</div>
										<div class="col-lg-8">
											<p>
												But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
												I will give you a complete account of the system, and expound the actual.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" *ngIf="privilege_list.includes('priv_ro_w')">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Ubah</button>
			</div>
		</form>
	</div>
</bs-modal>

<bs-modal #projectview [backdrop]="'static'" class="modal">
	<div class="ibox">
		<div class="ibox-content">
			<div class="row">
				<div class="col-lg-12">
					<div class="m-b-md">
						<button class="btn btn-xs btn-default pull-right" (click)="projectview.dismiss()">Close</button>
						<small><strong>{{datadetail?.no_ro}}</strong></small>
					</div>
					<dl class="dl-horizontal">
						<dt>Status:</dt>
						<dd>
							<span *ngIf="datadetail?.status_ro == 1" class="label label-primary">{{datadetail?.status_ro_name}}</span>
							<span *ngIf="datadetail?.status_ro == 2" class="label label-warning">{{datadetail?.status_ro_name}}</span>
							<span *ngIf="datadetail?.status_ro == 3" class="label label-danger">{{datadetail?.status_ro_name}}</span>
						</dd>
					</dl>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<dl class="dl-horizontal">
						<dt>Dibuat Oleh:</dt>
						<dd>{{datadetail?.user_name}}</dd>
						<dt>Tanggal Operasi:</dt>
						<dd>{{datadetail?.date | date:'d MMMM, y, h:mm:ss a'}} </dd>
						<dt>Tipe:</dt>
						<dd>{{datadetail?.type_ro_name}}</dd>
						<dt>RS.:</dt>
						<dd>{{datadetail?.hospital_name}}</dd>
						<dt>Dokter:</dt>
						<dd>{{datadetail?.doctor_name}}</dd>
						<dt>Anatomi:</dt>
						<dd>{{datadetail?.spine_anatomi_name}}</dd>
						<dt>Case:</dt>
						<dd>{{datadetail?.case_name}}</dd>
						<dt>Subcase:</dt>
						<dd>{{datadetail?.subcase_name}}</dd>
					</dl>
				</div>
				<div class="col-lg-6">
						<dl class="dl-horizontal">
							<dt>Jenis Tagihan:</dt>
							<dd>{{datadetail?.jenis_tagihan_name}}</dd>
							<dt>Instrument:</dt>
							<dd>{{datadetail?.request_instrument_name}}</dd>
							<dt>Pasien:</dt>
							<dd>{{datadetail?.pasien}}</dd>
							<dt>Nomor MR:</dt>
							<dd>{{datadetail?.no_mr}}</dd>
							<dt>Technical Support:</dt>
							<dd *ngIf="datadetail?.technical_support_name">{{datadetail?.technical_support_name}}</dd>
							<dd *ngIf="!datadetail?.technical_support_name">Non TS</dd>
							<dt>Created:</dt>
							<dd> {{datadetail?.created_date | date:'d MMMM, y, h:mm:ss a'}} </dd>
							<dt>Last Updated:</dt>
							<dd>{{datadetail?.last_update | date:'d MMMM, y, h:mm:ss a'}}</dd>
						</dl>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<dl class="dl-horizontal">
							<dt>Completed:</dt>
							<dd>
								<div class="progress progress-striped active m-b-sm">
									<div [ngStyle]="{'width': progress_bar+'%'}" class="progress-bar"></div>
								</div>
								<small>Project completed in <strong>{{datadetail?.progress}}%</strong>. Remaining close the project, sign a
									contract and invoice.</small>
								</dd>
							</dl>
						</div>
					</div>
					<div class="row m-t-sm">
						<div class="col-lg-12">
							<div class="panel blank-panel">
								<div class="panel-heading">
									<div class="panel-options">
										<ul class="nav nav-tabs">
											<li class="active"><a href="#tab-project-messages" data-toggle="tab" aria-expanded="true">Comment</a></li>
											<li *ngIf="user_privilege == 1" class=""><a href="#tab-project-activity" data-toggle="tab" aria-expanded="false">Log activity</a></li>
										</ul>
									</div>
								</div>
								<div class="panel-body">
									<div class="tab-content">
										<div class="tab-pane active" id="tab-project-messages">
											<div class="feed-activity-list">
												<div class="feed-element">
													
													<div class="media-body" *ngIf="privilege_list.includes('priv_ro_w')">
														<form [formGroup]="comment_form" (ngSubmit)="onSubmitComment(datadetail.id)">
															<div class="form-group">
																<label for="exampleFormControlTextarea1">Post Comment</label>
																<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="message"></textarea>
															</div>
															<div class="form-group">
																<button type="submit" class="btn btn-xs btn-primary pull-right">Post</button>
															</div>
														</form>
													</div>
												</div>
												<div class="feed-element" *ngFor="let comment of data_comment">
													<a href="#" class="pull-left">
														<img alt="image" class="img-circle" [src]="showImage(comment.image)">
													</a>
													<div class="media-body ">
														<small class="pull-right">{{comment.datetime | datetimediff }}</small>
														<strong>{{comment.name}}</strong><br>
														<div class="well">{{comment.message}}</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab-project-activity">
											<div class="ibox float-e-margins">
												<div class="ibox-content">
													<div>
														<div class="feed-activity-list">
															<div class="feed-element" *ngFor="let log of data_log">
																<div class="media-body ">
																	<small class="pull-right">{{log.date | datetimediff }}</small>
																	<strong>{{log.user_name}}</strong> 
																	{{log.log}}<br>
																	<small class="text-muted">{{log.date | date:'d MMMM, y, h:mm:ss a'}}</small>
																	<div class="well" *ngIf="log.log_comment" [innerHtml]=log.log_comment></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</bs-modal>
		
		<!-- <bs-modal id="printview" #printview [backdrop]="'static'" class="modal">
			<div class="col-lg-12" style="margin: 10px;">
				
				<label style="color:red;" *ngIf="datadetail?.box_status =='0'">
					Harap lengkapi dahulu semua data Rencana Operasi
				</label>
				
				<button *ngIf="datadetail?.box_status !='0'" class="btn btn-xs btn-primary pull-right" (click)="downloadPDF()">Download</button>
				<button class="btn btn-xs btn-default pull-right" (click)="printview.dismiss()">Close</button>
				
			</div>
			<div id="cobatesyangini" class="ibox-content p-xl" style="height: 1300px; color: black;">
				<div class="row">
					<div class="col-sm-1">
						<img src="assets/img/pp.jpg.png" style="width: 55px; height: 70px;">
					</div>
					<div class="col-sm-11">
						<address>
							<strong>PT. Patriot Medika Nusantara</strong><br>
							Jl. Kelapa dua, Tangerang - Banten 15810<br>
							Fax : (021) - 7257608<br>
							Telp : (021) - 29015270<br>
							<div style="text-align: right;">No : <small><strong>{{datadetail?.no_ro}}</strong></small></div><br>
						</address>
					</div>
				</div>
				
				<div class="body_invoice">
					<div style="text-align: center;">
						<h3>Form Rencana Operasi</h3>
					</div>
					<div class="h-divider"></div>
					<table class="table">
						<tr>
							<td><strong>Diajukan oleh</strong></td>
							<td>:</td>
							<td>{{datadetail?.user_name}}</td>
						</tr>
						<tr>
							<td><strong>Tanggal Pengajuan</strong></td>
							<td>:</td>
							<td>{{datadetail?.created_date | date:'d MMMM, y, h:mm:ss a'}}</td>
						</tr>
						<tr>
							<td><strong>Tanggal Operasi</strong></td>
							<td>:</td>
							<td>{{datadetail?.date | date:'d MMMM, y, h:mm:ss a'}}</td>
						</tr>
						<tr>
							<td><strong>Tipe</strong></td>
							<td>:</td>
							<td>{{datadetail?.type_ro_name}}</td>
						</tr>
						<tr>
							<td><strong>Status Box</strong></td>
							<td>:</td>
							<td>{{datadetail?.box_status_name}}</td>
						</tr>
						<tr>
							<td><strong>Status Rencana Operasi</strong></td>
							<td>:</td>
							<td>{{datadetail?.status_ro_name}}</td>
						</tr>
					</table>
					
					<div style="text-align: center;">
						<h3>Rincian Informasi</h3>
					</div>
					<div class="h-divider"></div>
					<table class="table" id="customers">
						<tr>
							<td><strong>Nama Rumah Sakit</strong></td>
							<td>:</td>
							<td>{{datadetail?.hospital_name}}</td>
						</tr>
						<tr>
							<td><strong>Nama Dokter</strong></td>
							<td>:</td>
							<td>{{datadetail?.doctor_name}}</td>
						</tr>
						<tr>
							<td><strong>Nama Pasien</strong></td>
							<td>:</td>
							<td>{{datadetail?.pasien}}</td>
						</tr>
						<tr>
							<td><strong>No MR</strong></td>
							<td>:</td>
							<td>{{datadetail?.no_mr}}</td>
						</tr>
						<tr>
							<td><strong>Spine Anatomi</strong></td>
							<td>:</td>
							<td>{{datadetail?.spine_anatomi_name}}</td>
						</tr>
						<tr>
							<td><strong>Case</strong></td>
							<td>:</td>
							<td>{{datadetail?.case_name}}</td>
						</tr>
						<tr>
							<td><strong>Sub Case</strong></td>
							<td>:</td>
							<td>{{datadetail?.subcase_name}}</td>
						</tr>
						<tr>
							<td><strong>Request Instrument</strong></td>
							<td>:</td>
							<td>{{datadetail?.request_instrument_name}}</td>
						</tr>
						<tr>
							<td><strong>Remarks</strong></td>
							<td>:</td>
							<td>{{datadetail?.remarks}}</td>
						</tr>
						<tr>
							<td><strong>Jenis Tagihan</strong></td>
							<td>:</td>
							<td>{{datadetail?.jenis_tagihan_name}}</td>
						</tr>
						<tr>
							<td><strong>Technical Support</strong></td>
							<td>:</td>
							<td *ngIf="datadetail?.technical_support_name">{{datadetail?.technical_support_name}}</td>
							<td *ngIf="!datadetail?.technical_support_name">Non TS</td>
						</tr>
						
					</table>
					
				</div>
				<div class="row vbottom">
					<div class="col-lg-4" style="border: 1px solid #ccc; height: 150px;">
						<div class="ibox">
							<div class="ibox-content">
								<h5 class="m-b-md">Requester</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-4" style="border: 1px solid #ccc; height: 150px;">
						<div class="ibox">
							<div class="ibox-content ">
								<h5 class="m-b-md">Warehouse</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-4" style="border: 1px solid #ccc; height: 150px;">
						<div class="ibox">
							<div class="ibox-content">
								<h5 class="m-b-md">Quality Control</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row well m-t">
					Keterangan : Warna putih (Warehouse), warna biru (Quality Control), Merah (Sales)
				</div>
			</div>
		</bs-modal> -->