<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Warehouse Location</h5>
				</div>
				<div class="ibox-content">
					<agm-map [zoom]="5" [usePanning]='true' [latitude]="lat" [longitude]="lng" (mapClick)="onChooseLocation($event)">
						<agm-marker *ngFor="let loc of location" [latitude]="loc.latitude" [longitude]="loc.longitude">
							<agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
								<ng-template>
									lat = {{loc.latitude}}
									lng = {{loc.longitude}}
								</ng-template>
							</agm-snazzy-info-window>
						</agm-marker>
					</agm-map>
				</div>
			</div>
		</div>
	</div>
</div>