<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#ffff00" type = "square-jelly-box" ></ngx-spinner>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table #maintable [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;" *ngIf="privilege_list.includes('priv_priv_w')">
										<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
										<!-- <button type="button" class="btn btn-xs btn-info" (click)="maintable.exportCSV()"><i class="fa fa-file-o"></i> Export</button> -->
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
								<th>
									Action
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata let-columns="columns">
							<tr [pSelectableRow]="maindata">
								<td *ngFor="let col of columns">
									{{maindata[col.field]}}
								</td>
								<td width="10%">
									<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="handleRowSelect(maindata)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Privilege Name</label>
							<div class="cols-sm-12">
								<div class="input-group">
									<input type="text" class="form-control" name="name" [(ngModel)]="name" #nameControl="ngModel" placeholder="Name" required minlength="4"/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-8 b-r">
						<label for="name" class="cols-sm-2 control-label">Privilege Name</label>
						
						<div class="col-sm-12">
							<table class="table table-bordered table-striped">
								<thead>
								<tr>
									<th>Halaman</th>
									<th>Sidebar</th>
									<th>Read</th>
									<!-- <th>Menu</th> -->
									<th>Write</th>
								</tr>
								</thead>
								<tbody>
									<tr>
										<td><strong><u>User</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_user_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>User List</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_user_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_user_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_user_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Privilege</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_priv_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_priv_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_priv_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Master</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_master_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<td><p-checkbox name="privilege" value="priv_master_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_master_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_master_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Marketing</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_sales_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Rencana Operasi</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_ro_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_ro_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_ro_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Laporan Pemakaian</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_lp_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_lp_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_lp_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Pemesanan Barang</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_pb_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_pb_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_pb_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Quality Control</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_qc_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Topup Box</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_box_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_box_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_box_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Standard Quantity</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_sq_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_sq_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_sq_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>List Topup</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_listtopup_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_listtopup_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_listtopup_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Checklist</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_checklist_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_checklist_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_checklist_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Technical Support</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_ts_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Penggunaan barang</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_penggunaanbarang_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_penggunaanbarang_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_penggunaanbarang_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Dispatcher</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_dispatcher_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Pengiriman barang</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_pengirimanbarang_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_pengirimanbarang_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_pengirimanbarang_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Penarikan barang</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_penarikanbarang_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_penarikanbarang_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_penarikanbarang_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Warehouse</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_warehouse_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Kartu Stok</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_stok_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_stok_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_stok_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Stok Opname</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_so_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_so_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_so_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Stok Opname Result</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_sor_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_sor_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_sor_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Replacement</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_replacement_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_replacement_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_replacement_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Topup</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_wh_topup_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_wh_topup_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_wh_topup_W" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Topup List</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_wh_topup_list_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_wh_topup_list_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_wh_topup_list_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Economic Order</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_eo_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>List</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_eo_list_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_eo_list_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_eo_list_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Alert</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_eo_alert_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_eo_alert_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_eo_alert_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td>Purchase Request</td>
										<td></td>
										<td><p-checkbox name="privilege" value="priv_eo_pr_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td><p-checkbox name="privilege" value="priv_eo_pr_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
										<td><p-checkbox name="privilege" value="priv_eo_pr_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
									</tr>
									<tr>
										<td><strong><u>Report</u></strong></td>
										<td><p-checkbox name="privilege" value="priv_report_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
										<!-- <td></td> -->
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" type="submit" >Add</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form #formEdit="ngForm" (ngSubmit)="onSubmitEdit(formEdit.value)">
				<bs-modal-body>
						<div class="row">
							<div class="col-sm-4 b-r">
								<div class="form-group">
									<label for="name" class="cols-sm-2 control-label">Privilege Name</label>
									<div class="cols-sm-12">
										<div class="input-group">
											<input type="text" class="form-control" name="name" [(ngModel)]="name" #nameControl="ngModel" placeholder="Name" required minlength="4"/>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-8 b-r">
								<label for="name" class="cols-sm-2 control-label">Privilege Name</label>
								
								<div class="col-sm-12">
									<table class="table table-bordered table-striped">
										<thead>
										<tr>
											<th>Halaman</th>
											<th>Sidebar</th>
											<!-- <th>Read</th> -->
											<th>Menu</th>
											<th>Write</th>
										</tr>
										</thead>
										<tbody>
											<tr>
												<td><strong><u>User</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_user_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>User List</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_user_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_user_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_user_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Privilege</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_priv_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_priv_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_priv_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Master</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_master_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<td><p-checkbox name="privilege" value="priv_master_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_master_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_master_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Marketing</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_sales_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>Rencana Operasi</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_ro_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_ro_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_ro_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Laporan Pemakaian</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_lp_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_lp_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_lp_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Pemesanan Barang</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_pb_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_pb_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_pb_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Quality Control</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_qc_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>Topup Box</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_box_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_box_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_box_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Standard Quantity</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_sq_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_sq_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_sq_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>List Topup</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_listtopup_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_listtopup_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_listtopup_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Checklist</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_checklist_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_checklist_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_checklist_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Technical Support</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_ts_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>Penggunaan barang</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_penggunaanbarang_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_penggunaanbarang_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_penggunaanbarang_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Dispatcher</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_dispatcher_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>Pengiriman barang</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_pengirimanbarang_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_pengirimanbarang_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_pengirimanbarang_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Penarikan barang</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_penarikanbarang_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_penarikanbarang_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_penarikanbarang_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Warehouse</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_warehouse_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>Kartu Stok</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_stok_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_stok_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_stok_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Stok Opname</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_so_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_so_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_so_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Stok Opname Result</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_sor_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_sor_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_sor_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Replacement</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_replacement_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_replacement_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_replacement_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Topup</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_wh_topup_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_wh_topup_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_wh_topup_W" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Topup List</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_wh_topup_list_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_wh_topup_list_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_wh_topup_list_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Economic Order</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_eo_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>List</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_eo_list_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_eo_list_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_eo_list_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Alert</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_eo_alert_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_eo_alert_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_eo_alert_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td>Purchase Request</td>
												<td></td>
												<td><p-checkbox name="privilege" value="priv_eo_pr_m" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td><p-checkbox name="privilege" value="priv_eo_pr_r" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td> -->
												<td><p-checkbox name="privilege" value="priv_eo_pr_w" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
											</tr>
											<tr>
												<td><strong><u>Report</u></strong></td>
												<td><p-checkbox name="privilege" value="priv_report_s" [(ngModel)]="privilege" inputId="ny"></p-checkbox></td>
												<!-- <td></td> -->
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
				</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false" *ngIf="privilege_list.includes('priv_priv_w')">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" type="submit" >Edit</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>