
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div style="height: 150px;"></div>
        <img src="assets/img/logo.png" style="width: 300px;">
        <h3>Selamat Datang</h3>
        <p>Gunakan Username dan Password anda untuk masuk kedalam System
            <br/>
            PT Patriot Medika Nusantara
            <br/>
            Logistic Management System
        </p>
        <form class="m-t" role="form" [formGroup]="login_form" (ngSubmit)="login()">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" formControlName="password">
            </div>
            <button type="submit" [disabled]="!login_form.valid" class="btn btn-primary block full-width m-b">Login</button>
        </form>
        <p class="m-t"> <small>&copy; PT Patriot Medika Nusantara 2018</small> </p>
    </div>
</div>