<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="40">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;" *ngIf="privilege_list.includes('priv_eo_pr_w')">
									<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header">
							<tr>
								<th>Keterangan</th>
								<th>Tanggal</th>
								<th>No Purchase Request</th>
								<th>Dibuat Oleh</th>
								<th>Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata>
							<tr>
								<td><small>{{maindata.name}}</small></td>
								<td><small>{{maindata.date | date:'d MMM, y'}}</small></td>
								<td><small>{{maindata.no_pr}}</small></td>
								<td><small>{{maindata.created_by_name}}</small></td>								
								<td class="text-left">
									<div class="btn-group">
										<button class="btn-white btn btn-xs" (click)="handleRowSelect(maindata)" title="Edit Data"><i class="fa fa-pencil"></i></button>
										<!-- <button class="btn-white btn btn-xs" (click)="receive_termin(maindata)" title="Barang Masuk"><i class="fa fa-share"></i></button>
											<button *ngIf="privilege_list.includes('priv_eo_pr_w')" title="View Log" class="btn-white btn btn-xs" (click)="viewPDF(maindata.id)"><i class="fa fa-file-pdf-o"></i></button> -->
										</div>
									</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<h3 class="m-t-none m-b">Information</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Tanggal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="date"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Keterangan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" formControlName="name" placeholder="Keterangan"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Pilih Nomor Purchase Request</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'230px'}" (onChange)="changePO($event)" [options]="dropdown?.purchase_request" formControlName="purchase_request"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Pilih Product</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'230px'}" [options]="dropdown?.product_detail" formControlName="id_product_detail"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button title="Edit" type="button" class="btn btn-xs btn-info" (click)="tambah_list_add()"><i class="fa fa-pecil"></i> Tambah ke List</button>
						</div>
					</div>
					<div class="col-sm-8 b-r">
						<h3>List Pesanan</h3>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Product</th>
									<th>Code</th>
									<th>Item</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of list_pesanan">
									<td>{{data.product_name}}</td>
									<td>{{data.code}}</td>
									<td>{{data.product_detail_name}}</td>
									<td>{{data.quantity}}</td>
								</tr>
							</tbody>
						</table>
						<h3>List Penerimaan</h3>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Product</th>
									<th>Code</th>
									<th>Item</th>
									<th>Quantity</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of store_temp1">
									<td>{{data.product_name}}</td>
									<td>{{data.product_detail_code}}</td>
									<td>{{data.product_detail_name}}</td>
									<td>{{data.quantity}}</td>
									<td>
										<button title="Delete" type="button" class="btn btn-xs btn-white" (click)="removelist(data)"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="submit" class="btn btn-xs btn-primary" [disabled]="!add_form.valid">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>