<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                        	<div class="input-group">
                        		<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdownfilter.principle" [(ngModel)]="selectedProduct" (onChange)="filter_product($event.value)"></p-dropdown>
							</div>
                        </div>
					</div>
                </div>
			</div>
        </div>
	</div>
	
	<div class="row" *ngIf="!splitshow">
		<div class="col-lg-4" *ngFor="let prod of product">
			<div class="contact-box filteribox" (click)="select_product(prod)" style="cursor:pointer">
				<div class="col-sm-8">
					<h4><strong>{{prod.label}}</strong></h4>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="splitshow">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Instrument {{label_selected}}</h5>
					<div class="pull-right" *ngIf="privilege_list.includes('priv_sq_w')">
						<button type="button" class="btn btn-xs btn-primary" (click)="OpenModalAddInstrument()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
					</div>
				</div>
				<div class="ibox-content">
					<p-table #maintable [columns]="cols" [value]="maindata_instrument" autoLayout="true" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true">
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
								<th width="10%" *ngIf="privilege_list.includes('priv_sq_w')">
									Action
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata_instrument let-columns="columns">
							<tr [pSelectableRow]="maindata_instrument">
								<td *ngFor="let col of columns">
									{{maindata_instrument[col.field]}}
								</td>
								<td *ngIf="privilege_list.includes('priv_sq_w')">
									<button title="Edit" type="button" class="btn btn-xs btn-info" (click)="rowSelect(maindata_instrument)"><i class="fa fa-edit"></i></button>
									<button title="Delete" type="button" class="btn btn-xs btn-danger" (click)="delete(maindata_instrument.id)"><i class="fa fa-trash"></i></button>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Implant {{label_selected}}</h5>
					<div class="pull-right" *ngIf="privilege_list.includes('priv_sq_w')">
						<button type="button" class="btn btn-xs btn-primary" (click)="OpenModalAddImplant()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
					</div>
				</div>
				<div class="ibox-content">
					<p-table #maintable [columns]="cols" [value]="maindata_implant" autoLayout="true" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
								<th width="10%" *ngIf="privilege_list.includes('priv_sq_w')">
									Action
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata_implant let-columns="columns">
							<tr [pSelectableRow]="maindata_implant">
								<td *ngFor="let col of columns">
									{{maindata_implant[col.field]}}
								</td>
								<td *ngIf="privilege_list.includes('priv_sq_w')">
									<button title="Edit" type="button" class="btn btn-xs btn-info" (click)="rowSelect(maindata_implant)"><i class="fa fa-edit"></i></button>
									<button title="Delete" type="button" class="btn btn-xs btn-danger" (click)="delete(maindata_implant)"><i class="fa fa-trash"></i></button>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Add Instrument -->
<bs-modal #add_instrument [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="submit_instrument()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-12"><h3 class="m-t-none m-b">Standard Instrument</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nama</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cube fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [options]="dropdown?.instrument" formControlName="product_detail"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity Standard</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Masukan Standar Nominal" formControlName="quantity"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity Skoliosis</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Masukan Standar Skoliosis" formControlName="quantity_skoliosis"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="add_instrument.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Add Implant -->
<bs-modal #add_implant [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="submit_implant()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-12"><h3 class="m-t-none m-b">Standard Instrument</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nama</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cube fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [options]="dropdown?.implant" formControlName="product_detail"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity Standard</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Masukan Standar Nominal" formControlName="quantity"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity Skoliosis</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Masukan Standar Skoliosis" formControlName="quantity_skoliosis"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="add_implant.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit_data [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="submit_edit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-12"><h3 class="m-t-none m-b">Edit Standard Box</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nama</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cube fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [options]="dropdown?.editlist" formControlName="product_detail"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity Standard</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Masukan Standar Nominal" formControlName="quantity"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity Skoliosis</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Masukan Standar Skoliosis" formControlName="quantity_skoliosis"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit_data.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Ubah</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>
