<div class="wrapper wrapper-content animated fadeInRight">
    <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#ffff00" type = "square-jelly-box" ></ngx-spinner>
    <div class="ibox-content m-b-sm border-bottom">
        <form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="warehouse" class="cols-sm-2 control-label">Gudang Stok Opname</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="text" value="{{wh_name}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="warehouse" class="cols-sm-2 control-label">Principle</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.principle" (onChange)="select_principle($event.value)" formControlName="principle"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="warehouse" class="cols-sm-2 control-label">product</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.product" formControlName="product"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Tampilkan Data</button>
        </form>
    </div>
    
	<div class="row">
		<div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools" *ngIf="privilege_list.includes('priv_so_w')">
                        <button (click)="submit_data()">Submit</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <p-table [value]="data_stok" autoLayout="true" [paginator]="true" [rows]="15">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>product Code</th>
                                <th>product Name</th>
                                <th>System</th>
                                <th>Box</th>
                                <th *ngIf="privilege_list.includes('priv_so_w')">Fisik</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr>
                                <td>
                                {{rowData.code}}
                                </td>
                                <td>
                                {{rowData.name}}
                                </td>
                                <td>
                                {{rowData.sisa}}
                                </td>
                                <td>
                                    {{rowData.inbox}}
                                </td>
                                <td pEditableColumn *ngIf="privilege_list.includes('priv_so_w')">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="number" style="width:50px;" [(ngModel)]="rowData.qty">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.qty}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
		</div>
	</div>
</div>