<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('all')" style="cursor:pointer">
					<span class="label label-primary pull-right">{{count_maindata.all}}</span>
					<h5>Semua Pengiriman</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('arrived')" style="cursor:pointer">
					<span class="label label-success pull-right">{{count_maindata.arrived}}</span>
					<h5>Sudah Sampai</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('on_the_way')" style="cursor:pointer">
					<span class="label label-warning pull-right">{{count_maindata.on_the_way}}</span>
					<h5>Dalam Perjalanan</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div style="float: left;" *ngIf="privilege_list.includes('priv_pengirimanbarang_w')">
						<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
					</div>
				</div>
				<div class="ibox-content">
					<p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15">
						<ng-template pTemplate="header">
							<tr>
								<!-- <th>No SPB</th> -->
								<th>No RO</th>
								<th>Dokter</th>
								<th>RS</th>
								<th>No Kendaraan</th>
								<th>Kurir</th>
								<th>Waktu Tiba</th>
								<th>Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData>
							<tr style="font-size:97%">
								<!-- <td>{{rowData.no_spb}}</td> -->
								<td>{{rowData.no_ro}}</td>
								<td>{{rowData.doctor_name}}</td>
								<td>{{rowData.hospital_name}}</td>
								<td>{{rowData.kendaraan}}</td>
								<td>{{rowData.courier_name}}</td>
								<td>{{rowData.atd | date:'d MMM, y, h:mm:ss a'}}</td>
								<td class="text-right">
									<div class="btn-group">
										<button class="btn-white btn btn-xs" (click)="handleRowSelect(rowData)" title="Edit Pengiriman"><i class="fa fa-pencil"></i></button>
										<button class="btn-white btn btn-xs" (click)="print(rowData)" title="Info Pengiriman" *ngIf="privilege_list.includes('priv_pengirimanbarang_w')"><i class="fa fa-file-excel-o"></i></button>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor RO</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.rencana_operasi" formControlName="id_ro" (onChange)="onChangeRO($event)"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Kurir</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kurir" formControlName="kurir"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor Kendaraan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-car fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kendaraan" formControlName="no_kendaraan"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Estimasi Pengiriman</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="start"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Estimasi Waktu Tiba</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="estimasi"></p-calendar>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
							<div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
								<ul class="list-group clear-list">
									<h3>Informasi Rencana Operasi</h3>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.no_ro}} </span>
										Nomor
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.hospital_name}} </span>
										RS
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.doctor_name}} </span>
										Dokter
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.pasien}} </span>
										Pasien
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </span>
										Tgl Operasi
									</li>
									<strong>Notes</strong>
									<p>{{info_ro?.remarks}}</p>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-3" *ngIf="info_box != null">
						<ul class="list-group clear-list">
							<h3>Informasi Box</h3>
							<li class="list-group-item" *ngFor="let dat of info_box">
								<span class="pull-right">{{dat.code_box}}</span>
								{{dat.product_name}}
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul class="list-group clear-list" *ngIf="info_alat_pendukung != null">
							<h3>Alat Pendukung</h3>
							<li class="list-group-item" *ngFor="let dat of info_alat_pendukung">
								<span class="pull-right">{{dat.quantity}}</span>
								{{dat.product_detail_name}}
							</li>
						</ul>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Submit SPB</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nomor Kendaraan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-open-o fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kendaraan" formControlName="no_kendaraan"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Kurir</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kurir" formControlName="kurir"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Estimasi Pengiriman</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="etd"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Estimasi Waktu Tiba</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="eta"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Penerima</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Enter Case" formControlName="receiver"/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
							<div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
								<ul class="list-group clear-list">
									<h3>Informasi Rencana Operasi</h3>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.no_ro}} </span>
										Nomor
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.hospital_name}} </span>
										RS
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.doctor_name}} </span>
										Dokter
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.pasien}} </span>
										Pasien
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </span>
										Tgl Operasi
									</li>
									<strong>Notes</strong>
									<p>{{info_ro?.remarks}}</p>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-3" *ngIf="info_box != null">
						<ul class="list-group clear-list">
							<h3>Informasi Box</h3>
							<li class="list-group-item" *ngFor="let dat of info_box">
								<span class="pull-right">{{dat.code_box}}</span>
								{{dat.product_name}}
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul class="list-group clear-list" *ngIf="info_alat_pendukung != null">
							<h3>Alat Pendukung</h3>
							<li class="list-group-item" *ngFor="let dat of info_alat_pendukung">
								<span class="pull-right">{{dat.quantity}}</span>
								{{dat.product_detail_name}}
							</li>
						</ul>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false" *ngIf="privilege_list.includes('priv_pengirimanbarang_w')">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Update</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Print -->
<bs-modal id="printview" #printview [backdrop]="'static'" class="modal">
	<div class="col-lg-12" style="margin: 10px;">
		<button class="btn btn-xs btn-primary pull-right" (click)="downloadPDF()">Download</button>
		<button class="btn btn-xs btn-default pull-right" (click)="printview.dismiss()">Close</button>
	</div>
	<div id="cobatesyangini" class="ibox-content p-xl" style="height: 1300px; color: black;">
		<div class="row" style="margin-top:20px;">
			<div class="col-sm-1">
				<img src="assets/img/logopmn.png" style="width: 55px; height: 70px;">
			</div>
			<div class="col-sm-11">
				<address>
					<strong>PT. Patriot Medika Nusantara</strong><br>
					Jl. Kelapa dua, Tangerang - Banten 15810<br>
					Fax : (021) - 7257608<br>
					Telp : (021) - 29015270<br>
				</address>
			</div>
			<div class="col-lg-6">
				<dl class="dl-horizontal">
					<dt>Nama Driver:</dt> <dd> {{data_spb.courier_name}}</dd>
					<dt>No Kendaraan:</dt> <dd> {{data_spb.kendaraan}}</dd>
				</dl>
			</div>
			<div class="col-lg-6">
				<dl class="dl-horizontal">
					<dt>Tanggal Delivery:</dt> <dd> {{data_spb.etd}}</dd>
					<dt>Nomor :</dt> <dd> {{data_spb.no_spb}}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<p-table [value]="printdata" autoLayout="true" [rows]="15">
				<ng-template pTemplate="header">
					<tr>
						<th>No SPB</th>
						<th>ETA</th>
						<th>Code Box</th>
						<th>Dibuat Oleh</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData>
					<tr>
						<td>{{rowData.no_spb}}</td>
						<td>{{rowData.eta}}</td>
						<td>{{rowData.product_name}} - {{rowData.code_box}}</td>
						<td>{{rowData.created_by_name}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
		<div class="row vbottom" style="margin-top:20px;">
			<div class="col-lg-4" style="border: 1px solid #ccc; height: 150px;">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">Quality Control</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-4" style="border: 1px solid #ccc; height: 150px;">
				<div class="ibox">
					<div class="ibox-content ">
						<h5 class="m-b-md">Driver</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-4" style="border: 1px solid #ccc; height: 150px;">
				<div class="ibox">
					<div class="ibox-content">
						<h5 class="m-b-md">Penerima</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row well m-t">
			Keterangan : Warna putih (Warehouse), warna biru (Quality Control), Merah (Sales)
		</div>
	</div>
</bs-modal>