<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<p-table #maintable [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;" *ngIf="privilege_list.includes('priv_master_w')">
									<p>
										<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
									</p>
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
								<th width="10%" *ngIf="privilege_list.includes('priv_master_w')">
									Action
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata let-columns="columns">
							<tr [pSelectableRow]="maindata">
								<td *ngFor="let col of columns">
									{{maindata[col.field]}}
								</td>
								<td *ngIf="privilege_list.includes('priv_master_w')">
									<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="handleRowSelect(maindata)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Diagnosa Case</h3>
						<div class="form-group">
							<label for="id_case" class="cols-sm-2 control-label">Case</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'210px'}" [options]="case_list" formControlName="id_case"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" formControlName="name" placeholder="Enter Case"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Diagnosa Case</h3>
						<div class="form-group">
							<label for="id_case" class="cols-sm-2 control-label">Case</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'210px'}" [options]="case_list" formControlName="id_case"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" formControlName="name" placeholder="Enter Case"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Update</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>