<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
				</div>
				<div class="ibox-content">
					<!-- <p-table #maintable [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
								<th width="10%">
									Action
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata let-columns="columns">
							<tr [pSelectableRow]="maindata">
								<td *ngFor="let col of columns">
									{{maindata[col.field]}}
								</td>
								<td>
									<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="handleRowSelect(maindata)"><i class="fa fa-edit"></i></button>
									<button class="btn-white btn btn-xs" (click)="print(maindata)" title="Info Pengiriman"><i class="fa fa-file-excel-o"></i></button>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table> -->
					<p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15">
						<ng-template pTemplate="header">
							<tr>
								<!-- <th>No SPB</th> -->
								<th>No Topup</th>
								<th>Kode Box</th>
								<th>Tanggal</th>
								<th>Dibuat Oleh</th>
								<th>Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData>
							<tr style="font-size:97%">
								<!-- <td>{{rowData.no_spb}}</td> -->
								<td>{{rowData.no_topup}}</td>
								<td>{{rowData.code_box}}</td>
								<td>{{rowData.created_date}}</td>
								<td>{{rowData.name}}</td>
								<td class="text-right">
									<div class="btn-group">
										<button class="btn-white btn btn-xs" (click)="handleRowSelect(rowData)" title="Edit Pengiriman"><i class="fa fa-pencil"></i></button>
										<button class="btn-white btn btn-xs" (click)="print(rowData)" title="Info Pengiriman"><i class="fa fa-file-excel-o"></i></button>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<div style="height: 20px;">
		<button class="btn btn-xs btn-primary pull-right" (click)="downloadPDF()">Download</button>
	</div>
	<div class="modal-content">
		<bs-modal-body>
			<div class="panel-body" id="cobatesyangini">
				<div class="row">
					<div class="col-sm-1">
						<img src="assets/img/logopmn.png" style="width: 55px; height: 70px;">
					</div>
					<div class="col-sm-11">
						<address>
							<strong>PT. Patriot Medika Nusantara</strong><br>
							Jl. Kelapa dua, Tangerang - Banten 15810<br>
							Fax : (021) - 7257608<br>
							Telp : (021) - 29015270<br>
							<div style="text-align: right;">No : <small><strong>{{no_checklist}}</strong></small></div><br>
						</address>
					</div>
				</div>
				<div class="col-sm-6">
					<h5>Instrument</h5>
					<table class="table">
						<thead>
							<th>Item</th>
							<th>Qty</th>
						</thead>
						<tbody>
							<tr *ngFor="let data of maindata_instrument">
								<td style="padding: 0px;">{{data.code}} - {{data.product_detail_name}}</td>
								<td style="padding: 0px;">{{data.quantity}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-6">
					<h5>Implant</h5>
					<table class="table">
						<thead>
							<th>Item</th>
							<th>Qty</th>
						</thead>
						<tbody>
							<tr *ngFor="let data of maindata_implant">
								<td style="padding: 0px;">{{data.code}} - {{data.product_detail_name}}</td>
								<td style="padding: 0px;">{{data.quantity}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</bs-modal-body>
		<bs-modal-footer [showDefaultButtons]="false">
			<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Tutup</button>
		</bs-modal-footer>
	</div>
</bs-modal>

