  <div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<span class="label label-success pull-right">All</span>
						<h5>Our Principle</h5>
					</div>
					<div class="ibox-content">
						<h1 class="no-margins">{{principle}}</h1>
						<!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
						<small>Total Principle</small>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<span class="label label-info pull-right">All</span>
						<h5>Doctor</h5>
					</div>
					<div class="ibox-content">
						<h1 class="no-margins">{{doctor}}</h1>
						<!-- <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div> -->
						<small>Doctor</small>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<span class="label label-primary pull-right">Summary</span>
						<h5>Rumah Sakit</h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-6">
								<h1 class="no-margins">{{rs_negri}}</h1>
								<div class="font-bold text-navy"><small>Negri</small></div>
							</div>
							<div class="col-md-6">
								<h1 class="no-margins">{{rs_swasta}}</h1>
								<div class="font-bold text-navy"><small>Swasta</small></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ibox float-e-margins">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<span class="label label-primary pull-right">Summary</span>
						<h5>Rencana Operasi</h5>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-md-6">
								<h1 class="no-margins">{{ro}}</h1>
								<div class="font-bold text-navy"><small>Operasi</small></div>
							</div>
							<div class="col-md-6">
								<h1 class="no-margins">{{penggunaan}}</h1>
								<div class="font-bold text-navy"><small>Penggunaan</small></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div>
							<span class="pull-right text-right">
								<small>Grafik Operasi per hari</small>
								<br>
								Total Operasi: <strong>{{total_operasi}}</strong> Operasi
							</span>
							<h3 class="font-bold no-margins">
								Rencana Operasi
							</h3>
							<small>PT Patriot Medika Nusantara</small>
						</div>
						<div id="chartdiv" style="width: 100%; height: 230px"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div>
							<span class="pull-right text-right">
								<button type="button" class="btn btn-primary btn-xs" (click)="master_excel()">Data</button>
								<br>
								Total Operasi: <strong>{{total_operasi}}</strong> Operasi
							</span>
							<h3 class="font-bold no-margins">
								Rencana Operasi
							</h3>
							<small>PT Patriot Medika Nusantara</small>
						</div>
						<div id="chartdiv2" style="width: 100%; height: 230px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div id="scrollmenu">
				<div class="card b-r">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<h5>Rencana Operasi Baru ( {{stage1_total}} )</h5>
					</div>
					<div class="ibox-content" style="height: 1000px; overflow-x: scroll; overflow-y: none;">
						<ul class="sortable-list connectList agile-list" id="todo">
							<li class="success-element ng-star-inserted" *ngFor="let list of stage1" (click)="show_card_detail(list)">
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white">{{list.subarea_name}}</label>
									<div style="white-space: none;">{{list.hospital_name}}</div>
								</div>
								<div class="agile-detail" style="margin-top:6px;">
									<label class="pull-right btn btn-xs btn-white"></label>
								</div>
								<div style="white-space: pre-line;">{{list.doctor_name}}</div>
								<div class="agile-detail" style="margin-top:6px;">
								</div>
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white"></label>
									<i class="fa fa-clock-o"></i> {{list.created_date | date:'d MMMM, y, h:mm:ss a'}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card b-r">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<h5>Confirmed By Quality ( {{stage2_total}} )</h5>
					</div>
					<div class="ibox-content" style="height: 1000px; overflow-x: scroll; overflow-y: none;">
						<ul class="sortable-list connectList agile-list" id="todo">
							<li class="success-element ng-star-inserted" *ngFor="let list of stage2" (click)="show_card_detail(list)">
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white">{{list.subarea_name}}</label>
									<div style="white-space: none;">{{list.hospital_name}}</div>
								</div>
								<div class="agile-detail" style="margin-top:6px;">
									<label class="pull-right btn btn-xs btn-white"></label>
								</div>
								<div style="white-space: pre-line;">{{list.doctor_name}}</div>
								<div class="agile-detail" style="margin-top:6px;">
								</div>
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white"></label>
									<i class="fa fa-clock-o"></i> {{list.created_date | date:'d MMMM, y, h:mm:ss a'}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card b-r">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<h5>Checked By Quality ( {{stage3_total}} )</h5>
					</div>
					<div class="ibox-content" style="height: 1000px; overflow-x: scroll; overflow-y: none;">
						<ul class="sortable-list connectList agile-list" id="todo">
							<li class="success-element ng-star-inserted" *ngFor="let list of stage3" (click)="show_card_detail(list)">
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white">{{list.subarea_name}}</label>
									<div style="white-space: none;">{{list.hospital_name}}</div>
								</div>
								<div class="agile-detail" style="margin-top:6px;">
									<label class="pull-right btn btn-xs btn-white"></label>
								</div>
								<div style="white-space: pre-line;">{{list.doctor_name}}</div>
								<div class="agile-detail" style="margin-top:6px;">
								</div>
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white"></label>
									<i class="fa fa-clock-o"></i> {{list.created_date | date:'d MMMM, y, h:mm:ss a'}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card b-r">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<h5>Proses Pengiriman ( {{stage4_total}} )</h5>
					</div>
					<div class="ibox-content" style="height: 1000px; overflow-x: scroll; overflow-y: none;">
						<ul class="sortable-list connectList agile-list" id="todo">
							<li class="success-element ng-star-inserted" *ngFor="let list of stage4" (click)="show_card_detail(list)">
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white">{{list.subarea_name}}</label>
									<div style="white-space: none;">{{list.hospital_name}}</div>
								</div>
								<div class="agile-detail" style="margin-top:6px;">
									<label class="pull-right btn btn-xs btn-white"></label>
								</div>
								<div style="white-space: pre-line;">{{list.doctor_name}}</div>
								<div class="agile-detail" style="margin-top:6px;">
								</div>
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white"></label>
									<i class="fa fa-clock-o"></i> {{list.created_date | date:'d MMMM, y, h:mm:ss a'}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card b-r">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<h5>Siap Digunakan ( {{stage5_total}} )</h5>
					</div>
					<div class="ibox-content" style="height: 1000px; overflow-x: scroll; overflow-y: none;">
						<ul class="sortable-list connectList agile-list" id="todo">
							<li class="success-element ng-star-inserted" *ngFor="let list of stage5" (click)="show_card_detail(list)">
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white">{{list.subarea_name}}</label>
									<div style="white-space: none;">{{list.hospital_name}}</div>
								</div>
								<div class="agile-detail" style="margin-top:6px;">
									<label class="pull-right btn btn-xs btn-white"></label>
								</div>
								<div style="white-space: pre-line;">{{list.doctor_name}}</div>
								<div class="agile-detail" style="margin-top:6px;">
								</div>
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white"></label>
									<i class="fa fa-clock-o"></i> {{list.created_date | date:'d MMMM, y, h:mm:ss a'}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card b-r">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<h5>Siap Ditarik ( {{stage6_total}} )</h5>
					</div>
					<div class="ibox-content" style="height: 1000px; overflow-x: scroll; overflow-y: none;">
						<ul class="sortable-list connectList agile-list" id="todo">
							<li class="success-element ng-star-inserted" *ngFor="let list of stage6" (click)="show_card_detail(list)">
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white">{{list.subarea_name}}</label>
									<div style="white-space: none;">{{list.hospital_name}}</div>
								</div>
								<div class="agile-detail" style="margin-top:6px;">
									<label class="pull-right btn btn-xs btn-white"></label>
								</div>
								<div style="white-space: pre-line;">{{list.doctor_name}}</div>
								<div class="agile-detail" style="margin-top:6px;">
								</div>
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white"></label>
									<i class="fa fa-clock-o"></i> {{list.created_date | date:'d MMMM, y, h:mm:ss a'}}
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card b-r">
					<div class="ibox-title" style="background-color:#e2f4dc">
						<h5>Ditarik ( {{stage7_total}} )</h5>
					</div>
					<div class="ibox-content" style="height: 1000px; overflow-x: scroll; overflow-y: none;">
						<ul class="sortable-list connectList agile-list" id="todo">
							<li class="success-element ng-star-inserted" *ngFor="let list of stage7" (click)="show_card_detail(list)">
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white">{{list.subarea_name}}</label>
									<div style="white-space: none;">{{list.hospital_name}}</div>
								</div>
								<div class="agile-detail" style="margin-top:6px;">
									<label class="pull-right btn btn-xs btn-white"></label>
								</div>
								<div style="white-space: pre-line;">{{list.doctor_name}}</div>
								<div class="agile-detail" style="margin-top:6px;">
								</div>
								<div class="agile-detail">
									<label class="pull-right btn btn-xs btn-white"></label>
									<i class="fa fa-clock-o"></i> {{list.created_date | date:'d MMMM, y, h:mm:ss a'}}
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> 
	
</div>



<bs-modal #projectview [backdrop]="'static'" class="modal">
	<div class="ibox">
		<div class="ibox-content">
			<div class="row">
				<div class="col-lg-12">
					<div class="m-b-md">
						<button class="btn btn-xs btn-default pull-right" (click)="projectview.dismiss()">Close</button>
						<small><strong>{{datadetail?.no_ro}}</strong></small>
					</div>
					<dl class="dl-horizontal">
						<dt>Status:</dt>
						<dd>
							<span *ngIf="datadetail?.status_ro == 1" class="label label-primary">{{datadetail?.status_ro_name}}</span>
							<span *ngIf="datadetail?.status_ro == 2" class="label label-warning">{{datadetail?.status_ro_name}}</span>
							<span *ngIf="datadetail?.status_ro == 3" class="label label-danger">{{datadetail?.status_ro_name}}</span>
						</dd>
					</dl>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<dl class="dl-horizontal">
						<dt>Dibuat Oleh:</dt>
						<dd>{{datadetail?.user_name}}</dd>
						<dt>Tanggal Operasi:</dt>
						<dd>{{datadetail?.date | date:'d MMMM, y, h:mm:ss a'}} </dd>
						<dt>Tipe:</dt>
						<dd>{{datadetail?.type_ro_name}}</dd>
						<dt>RS.:</dt>
						<dd>{{datadetail?.hospital_name}}</dd>
						<dt>Dokter:</dt>
						<dd>{{datadetail?.doctor_name}}</dd>
						<dt>Anatomi:</dt>
						<dd>{{datadetail?.spine_anatomi_name}}</dd>
						<dt>Case:</dt>
						<dd>{{datadetail?.case_name}}</dd>
						<dt>Subcase:</dt>
						<dd>{{datadetail?.subcase_name}}</dd>
					</dl>
				</div>
				<div class="col-lg-6">
					<dl class="dl-horizontal">
						<dt>Jenis Tagihan:</dt>
						<dd>{{datadetail?.jenis_tagihan_name}}</dd>
						<dt>Instrument:</dt>
						<dd>{{datadetail?.request_instrument_name}}</dd>
						<dt>Pasien:</dt>
						<dd>{{datadetail?.pasien}}</dd>
						<dt>Nomor MR:</dt>
						<dd>{{datadetail?.no_mr}}</dd>
						<dt>Technical Support:</dt>
						<dd *ngIf="datadetail?.technical_support_name">{{datadetail?.technical_support_name}}</dd>
						<dd *ngIf="!datadetail?.technical_support_name">Non TS</dd>
						<dt>Created:</dt>
						<dd> {{datadetail?.created_date | date:'d MMMM, y, h:mm:ss a'}} </dd>
						<dt>Last Updated:</dt>
						<dd>{{datadetail?.last_update | date:'d MMMM, y, h:mm:ss a'}}</dd>
					</dl>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<dl class="dl-horizontal">
						<dt>Completed:</dt>
						<dd>
							<div class="progress progress-striped active m-b-sm">
								<div [ngStyle]="{'width': progress_bar+'%'}" class="progress-bar"></div>
							</div>
							<small>Project completed in <strong>{{datadetail?.progress}}%</strong>. Remaining close the project, sign a
								contract and invoice.</small>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</bs-modal>



<bs-modal #master [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
			<bs-modal-body>
					<p-table #maintable [columns]="cols_master" [value]="masterdata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;">
									<button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" (click)="maintable.exportCSV()" style="float:left"></button>
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th *ngFor="let col of columns">
									{{col.header}}
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata let-columns="columns">
							<tr [pSelectableRow]="maindata">
								<td *ngFor="let col of columns">
									{{maindata[col.field]}}
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage" let-columns>
							<tr>
								<td [attr.colspan]="columns.length">
									No records found
								</td>
							</tr>
						</ng-template>
					</p-table>
			</bs-modal-body>


			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="master.dismiss()" style="margin-right:5px;">Close</button>
			</bs-modal-footer>
	</div>
</bs-modal>