<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Informasi Purchase Request</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<form role="form" [formGroup]="purchase_request_form">
							<div class="col-sm-12">
								<div class="form-group"><label>Tanggal</label> <input type="text" placeholder="Enter email" class="form-control" formControlName="date"></div>
								<div class="form-group"><label>Nomor Request</label> <input type="text" placeholder="Password" class="form-control" formControlName="no_pr"></div>
								<div class="form-group"><label>Di request oleh</label> <input type="email" placeholder="Enter email" class="form-control" formControlName="request_by"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Informasi Pesanan</h5>
				</div>
				<div class="ibox-content">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Product</th>
								<th>Code</th>
								<th>Item</th>
								<th>Quantity</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let data of purchase_request_detail">
								<td>{{data.product_name}}</td>
								<td>{{data.code}}</td>
								<td>{{data.product_detail_name}}</td>
								<td>{{data.quantity}}</td>
								<td>
									<button title="Edit" type="button" class="btn btn-xs btn-white" (click)="edit_product_detail(data)"><i class="fa fa-pencil"></i></button>
									<button title="Delete" type="button" class="btn btn-xs btn-white" (click)="remove_product_detail(data)"><i class="fa fa-trash"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
		<div class="modal-content">
			<form enctype="multipart/form-data" [formGroup]="purchase_request_detail_edit_form" (ngSubmit)="onSubmitEdit()">
				<bs-modal-body>
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Product</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown?.product_detail" formControlName="id_product_detail"></p-dropdown>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Quantity</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
							</div>
						</div>
					</div>
				</bs-modal-body>
				<bs-modal-footer [showDefaultButtons]="false" *ngIf="privilege_list.includes('priv_eo_pr_w')">
					<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Tutup</button>
					<button type="submit" class="btn btn-xs btn-primary" [disabled]="!purchase_request_detail_edit_form.valid">Edit</button>
				</bs-modal-footer>
			</form>
		</div>
	</bs-modal>