<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
          <div class="ibox-content m-b-sm border-bottom">
              <form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="month" class="cols-sm-2 control-label">Pilih Bulan</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <p-dropdown [style]="{'width':'260px'}" [options]="month_list" formControlName="month"></p-dropdown>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Filter Data</button>
                <button style="margin-left:20px;" (click)="show_raw()" type="button" class="btn btn-xs btn-primary">Excel</button>
              </form>
            </div>
        <div class="ibox float-e-margins" *ngFor="let list of maindata">
          <div class="ibox-title">
            <h5><i class="fa fa-tasks"></i> {{list.info.name}}</h5>
            
            <div style="float: right;">
              <button type="button" class="btn btn-xs btn-primary" (click)="OpenModalChart(list)" style="margin-right: 5px;">Grafik</button>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-12">
                <p-table #maintable [columns]="cols" [value]="list.data" autoLayout="true" [rows]="5" >
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns">
                        {{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-maindata let-columns="columns">
                    <tr [pSelectableRow]="maindata">
                      <td *ngFor="let col of columns">
                        {{maindata[col.field]}}
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length">
                        No records found
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <!-- <div class="col-lg-12">
                <div id="{{list.info.name}}" style="width: 100%; height: 500px"></div>
              </div>					 -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Chart -->
  <bs-modal #chart  class="modal">
    <div class="modal-content">
      <div class="modal-body">
        <div id="chartdiv" style="width: 100%; height: 500px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="close_refresh()" style="margin-right:5px;">Tutup</button>
      </div>
    </div>
  </bs-modal>
  
  
  <bs-modal #raw [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
        <bs-modal-body>
            <p-table #maintable [columns]="cols_raw" [value]="rawdata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                  <div style="float: left;" *ngIf="privilege_list.includes('priv_master_w')">
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" (click)="maintable.exportCSV()" style="float:left"></button>
                  </div>
                  <div style="float: right;">
                    <i class="fa fa-search" style="margin-right: 5px;"></i>
                    <input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-maindata let-columns="columns">
                <tr [pSelectableRow]="maindata">
                  <td *ngFor="let col of columns">
                    {{maindata[col.field]}}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length">
                    No records found
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </bs-modal-body>
  
  
        <bs-modal-footer [showDefaultButtons]="false">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="raw.dismiss()" style="margin-right:5px;">Close</button>
        </bs-modal-footer>
    </div>
  </bs-modal>