<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('all')" style="cursor:pointer">
					<span class="label label-primary pull-right">{{count_maindata.all}}</span>
					<h5>Semua Penarikan</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('arrived')" style="cursor:pointer">
					<span class="label label-success pull-right">{{count_maindata.arrived}}</span>
					<h5>Sudah Sampai</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('on_the_way')" style="cursor:pointer">
					<span class="label label-warning pull-right">{{count_maindata.on_the_way}}</span>
					<h5>Dalam Perjalanan</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<div style="float: left;" *ngIf="privilege_list.includes('priv_penarikanbarang_w')">
						<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
					</div>
				</div>
				<div class="ibox-content">
					<p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15">
						<ng-template pTemplate="header">
							<tr>
								<!-- <th>SPB</th> -->
								<th>No Ro</th>
								<th>Dokter</th>
								<th>RS</th>
								<th>No Kendaraan</th>
								<th>Kurir</th>
								<!-- <th>ETD</th> -->
								<th>Waktu Tiba</th>
								<!-- <th>Dibuat Oleh</th> -->
								<th>Action</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-rowData>
							<tr>
								<!-- <td>{{rowData.no_spb}}</td> -->
								<td>{{rowData.no_ro}}</td>
								<td>{{rowData.doctor_name}}</td>
								<td>{{rowData.hospital_name}}</td>
								<td>{{rowData.kendaraan}}</td>
								<td>{{rowData.courier_name}}</td>
								<!-- <td>{{rowData.etd | date:'d MMMM, y, h:mm:ss a'}}</td> -->
								<td>{{rowData.atd | date:'d MMMM, y, h:mm:ss a'}}</td>
								<!-- <td>{{rowData.created_by_name}}</td> -->
								<td class="text-left">
									<div class="btn-group">
										<button class="btn-white btn btn-xs" (click)="handleRowSelect(rowData)" title="Edit Penarikan"><i class="fa fa-pencil"></i></button>
										<button class="btn-info btn btn-xs" (click)="done(rowData)" title="Isi Box" *ngIf="privilege_list.includes('priv_penarikanbarang_w') && rowData.done == '0'"><i class="fa fa-check"></i></button>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor Rencana Operasi</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-open-o fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.ro" formControlName="id_ro" (onChange)="onChangeRO($event)"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Kurir</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kurir" formControlName="kurir"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor Kendaraan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-car fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kendaraan" formControlName="no_kendaraan"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Estimasi Pengambilan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="etd"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Estimasi Waktu Tiba</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="eta"></p-calendar>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
							<div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
								<ul class="list-group clear-list">
									<h3>Informasi Rencana Operasi</h3>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.no_ro}} </span>
										Nomor
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.hospital_name}} </span>
										RS
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.doctor_name}} </span>
										Dokter
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.pasien}} </span>
										Pasien
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </span>
										Tgl Operasi
									</li>
									<strong>Notes</strong>
									<p>{{info_ro?.remarks}}</p>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-3" *ngIf="info_box != null">
						<ul class="list-group clear-list">
							<h3>Informasi Box</h3>
							<li class="list-group-item" *ngFor="let dat of info_box">
								<span class="pull-right">{{dat.code_box}}</span>
								{{dat.product_name}}
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul class="list-group clear-list" *ngIf="info_alat_pendukung != null">
							<h3>Alat Pendukung</h3>
							<li class="list-group-item" *ngFor="let dat of info_alat_pendukung">
								<span class="pull-right">{{dat.quantity}}</span>
								{{dat.product_detail_name}}
							</li>
						</ul>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Tarik Alat</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit [backdrop]="'static'" class="modal inmodal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<!-- <div class="form-group">
							<label class="cols-sm-2 control-label">Nomor RO</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-open-o fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.ro" formControlName="id_ro" disabled></p-dropdown>
								</div>
							</div>
						</div> -->
						<div class="form-group">
							<label class="cols-sm-2 control-label">Kurir</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kurir" formControlName="kurir"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Nomor Kendaraan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-car fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.kendaraan" formControlName="no_kendaraan"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Estimasi Pengambilan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="etd"></p-calendar>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="cols-sm-2 control-label">Estimasi Waktu Tiba</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
									<p-calendar dateFormat="yy-mm-dd" showTime="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="eta"></p-calendar>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
							<div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
								<ul class="list-group clear-list">
									<h3>Informasi Rencana Operasi</h3>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.no_ro}} </span>
										Nomor
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.hospital_name}} </span>
										RS
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.doctor_name}} </span>
										Dokter
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.pasien}} </span>
										Pasien
									</li>
									<li class="list-group-item">
										<span class="pull-right"> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </span>
										Tgl Operasi
									</li>
									<strong>Notes</strong>
									<p>{{info_ro?.remarks}}</p>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-3" *ngIf="info_box != null">
						<ul class="list-group clear-list">
							<h3>Informasi Box</h3>
							<li class="list-group-item" *ngFor="let dat of info_box">
								<span class="pull-right">{{dat.code_box}}</span>
								{{dat.product_name}}
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul class="list-group clear-list" *ngIf="info_alat_pendukung != null">
							<h3>Alat Pendukung</h3>
							<li class="list-group-item" *ngFor="let dat of info_alat_pendukung">
								<span class="pull-right">{{dat.quantity}}</span>
								{{dat.product_detail_name}}
							</li>
						</ul>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false" *ngIf="privilege_list.includes('priv_penarikanbarang_w')">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Ubah</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>