<!-- App component display template ini apabila sudah login -->
<div id="wrapper" *ngIf="display != null">
      <app-sidebar></app-sidebar>
      <div id="page-wrapper" class="gray-bg">
        <app-topnavigation></app-topnavigation>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
</div>

<!-- App component display template ini apabila Belum login -->
<div *ngIf="display == null">
	<app-login></app-login>
</div>