<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<img alt="image" class="img-circle" *ngIf="datauser.image" [src]="showImage(datauser.image)" width="50" />
						<img alt="image" class="img-circle" *ngIf="!datauser.image" src="assets/img/pp.jpg" width="50">
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold" *ngIf="datauser.name">{{datauser.name}}</strong>
							</span>
							<span *ngIf="datauser.email" class="text-muted text-xs block">{{datauser.email}} <b class="caret"></b></span>
						</span> 
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a routerLink="dashboard">Dashboard</a></li>
						<li><a routerLink="profile">Profile</a></li>
						<li class="divider"></li>
						<li><a (click)="logout()">Logout</a></li>
					</ul>
				</div>
				<div class="logo-element">IN+</div>
			</li>
			
			<li *ngIf="privilege_list.includes('priv_user_s')" routerLinkActive="active">
				<a href="#"><i class="fa fa-address-book"></i> <span class="nav-label">User</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_user_m')"><a routerLink="user">List</a></li>
					<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_priv_m')"><a routerLink="userprivilege">Privilege</a></li>
				</ul>
			</li>	
			<li *ngIf="privilege_list.includes('priv_master_s')" routerLinkActive="active">
				<a href="#"><i class="fa fa-database"></i> <span class="nav-label">Master </span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li routerLinkActive="active"><a routerLink="hospital">Hospital</a></li>
					<li routerLinkActive="active"><a routerLink="area">Area</a></li>
					<li routerLinkActive="active"><a routerLink="subarea">SubArea</a></li>
					<li routerLinkActive="active"><a routerLink="doctor">Doctor</a></li>
					<li routerLinkActive="active"><a routerLink="warehouse">Warehouse</a></li>
					<li routerLinkActive="active"><a routerLink="principle">Principle</a></li>
					<li routerLinkActive="active"><a routerLink="jenis-tagihan">Jenis Tagihan</a></li>
					<li routerLinkActive="active"><a routerLink="spine-anatomi">Spine Anatomi</a></li>
					<li routerLinkActive="active"><a routerLink="kendaraan">Kendaraan</a></li>
					<li routerLinkActive="active"><a routerLink="division">Division</a></li>
					<li routerLinkActive="active"><a routerLink="subdist">Subdist</a></li>

					<li routerLinkActive="active">
						<a href="#">Diagnosa <span class="fa arrow" ></span></a>
						<ul class="nav nav-third-level">
							<li routerLinkActive="active"><a routerLink="diagnosa-case">Case</a></li>
							<li routerLinkActive="active"><a routerLink="diagnosa-subcase">Subcase</a></li>
						</ul>
					</li>

					<li>
						<a href="#">Product <span class="fa arrow"></span></a>
						<ul class="nav nav-third-level">
							<li routerLinkActive="active"><a routerLink="product">Product</a></li>
							<li routerLinkActive="active"><a routerLink="productdetail">Product Detail</a></li>
						</ul>
					</li>
				</ul>
				
				<li *ngIf="privilege_list.includes('priv_sales_s')" routerLinkActive="active">
					<a href="#"><i class="fa fa-list"></i> <span class="nav-label">Marketing</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_ro_m')"><a routerLink="rencana-operasi">Rencana Operasi</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_lp_m')"><a routerLink="laporan-pemakaian">Laporan Pemakaian</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_pb_m')"><a routerLink="pemesanan-barang">Pemesanan barang</a></li>
					</ul>
				</li>
				<li *ngIf="privilege_list.includes('priv_qc_s')" routerLinkActive="active">
					<a href="#"><i class="fa fa-search"></i> <span class="nav-label">Quality Control </span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li *ngIf="privilege_list.includes('priv_box_m')"><a routerLink="boxlist">Topup Box</a></li>
						<li *ngIf="privilege_list.includes('priv_sq_m')"><a routerLink="boxstandard">Standard Quantity</a></li>
						<li *ngIf="privilege_list.includes('priv_listtopup_m')"><a routerLink="boxtopup">List Topup</a></li>
						<li *ngIf="privilege_list.includes('priv_checklist_m')"><a routerLink="checklist">Checklist</a></li>
					</ul>
				</li>
				<li *ngIf="privilege_list.includes('priv_ts_s')" routerLinkActive="active">
					<a href="#"><i class="fa fa-gear"></i> <span class="nav-label">Technical Support </span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li *ngIf="privilege_list.includes('priv_penggunaanbarang_m')"><a routerLink="penggunaan-barang">Penggunaan Barang</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_penggunaanbarang_m')"><a routerLink="instrument-rusak">Instrument Rusak</a></li>
					</ul>
				</li>
				<li *ngIf="privilege_list.includes('priv_dispatcher_s')" routerLinkActive="active">
					<a href="#"><i class="fa fa-briefcase"></i> <span class="nav-label">Dispatcher </span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<!-- <li><a routerLink="spb">SPB</a></li> -->
						<li *ngIf="privilege_list.includes('priv_pengirimanbarang_m')"><a routerLink="send-item">Pengiriman Barang</a></li>
						<li *ngIf="privilege_list.includes('priv_penarikanbarang_m')"><a routerLink="retract-item">Penarikan Barang</a></li>
					</ul>
				</li>
				<li *ngIf="privilege_list.includes('priv_warehouse_s')" routerLinkActive="active">
					<a href="#"><i class="fa fa-building-o"></i> <span class="nav-label">Warehouse </span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_stok_m')"><a routerLink="warehouse-stock">Kartu Stok</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_stok_m')"><a routerLink="summary-stok">Summary Stok</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_so_m')"><a routerLink="warehouse-stock-opname-order">Stok Opnam</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_sor_m')"><a routerLink="warehouse-stock-opname-list">Stok Opnam Result</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_replacement_m')"><a routerLink="warehouse-replacement">Replacement</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_wh_topup_m')"><a routerLink="topupstok">TopUp Gudang</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_wh_topup_list_m')"><a routerLink="topupstoklist">TopUp List</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_wh_topup_list_m')"><a routerLink="potongrod">Potong Rod</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_location_m')"><a routerLink="warehouse-location">Location</a></li>
					</ul>
				</li>
				<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_eo_s')">
					<a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">Economic Order</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_eo_list_m')"><a routerLink="economic-order">List</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_eo_alert_m')"><a routerLink="economic-order-alert">Alert</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_eo_pr_m')"><a routerLink="purchase-request">Purchase Request</a></li>
						<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_eo_pr_m')"><a routerLink="purchase-receive">Purchase Receive</a></li>
					</ul>
				</li>
				<!-- *ngIf="privilege_list.includes('priv_report_s')" -->
				<li routerLinkActive="active" *ngIf="privilege_list.includes('priv_report_s')">
					<a href="#"><i class="fa fa-file-pdf-o"></i> <span class="nav-label">Report </span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li routerLinkActive="active"><a routerLink="top-principle">Top 5 produk / principle</a></li>
						<li routerLinkActive="active"><a routerLink="top-instrument">Top 5 Instrument</a></li>
						<li routerLinkActive="active"><a routerLink="product-quantity">Top 5 Product / Quantity</a></li>
						<li routerLinkActive="active"><a routerLink="report-instrument-rusak">Instrument Rusak</a></li>
						<li routerLinkActive="active"><a routerLink="area-sales">Top 5 Area Sales / penggunaan</a></li>
						<li routerLinkActive="active"><a routerLink="top-implant">Top 5 Implant / Instrument</a></li>
						<li routerLinkActive="active"><a routerLink="delivery-performance">Kinerja Pengiriman</a></li>
						<!-- <li><a href="#">Top 5 / Instrument</a></li>
						<li><a href="#">Top 5 / Dokter</a></li>
						<li><a href="#">Top 5 / alat instrument rusak</a></li>
						<li><a href="#">Top 5 / implant</a></li>
						<li><a href="#">Top 5 / Area</a></li>
						<li><a href="#">Pengiriman penarikan persentase delay/ ontime</a></li>
						<li><a href="#">Stok gudang estimasi 4 bulan</a></li> -->
					</ul>
				</li>
			</ul>
		</div>
	</nav>