<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter('all')" style="cursor:pointer">
					<span class="label label-primary pull-right">{{count_maindata.all}}</span>
					<h5>Semua Checklist</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter('checked')" style="cursor:pointer">
					<span class="label label-success pull-right">{{count_maindata.checked}}</span>
					<h5>Checked</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter('unchecked')" style="cursor:pointer">
					<span class="label label-warning pull-right">{{count_maindata.unchecked}}</span>
					<h5>Unchecked</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> List Rencana Operasi</h5>
				</div>
				<div class="ibox-content">
					<p-table #maintable [responsive]="true" selectionMode="single" (onRowSelect)="handleRowSelect($event.data)" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="5">
						<ng-template pTemplate="caption">
							<div class="ui-helper-clearfix">
								<div style="float: left;" *ngIf="privilege_list.includes('priv_ro_w')">
									<button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i>Tambah</button>
								</div>
								<div style="float: right;">
									<i class="fa fa-search" style="margin-right: 5px;"></i>
									<input type="text" placeholder=" Search..." pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')"
									style="width:200px;">
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="header">
							<tr style="font-size:12px;">
								<th>No</th>
								<th>Tanggal</th>
								<th>Rumah Sakit</th>
								<th>Dokter</th>
								<th>Progress</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-maindata>
							<tr style="font-size:95%" [pSelectableRow]="maindata">
								<td><small>{{maindata.no_ro}}</small></td>
								<td><small>{{maindata.date | date:'d MMM, y'}}</small></td>
								<td><small>{{maindata.hospital_name}}</small></td>
								<td><small>{{maindata.doctor_name}}</small></td>
								<td><small>{{maindata.stage_name}}</small></td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="show_information">
		<div class="col-lg-6">
			<div class="ibox-content">
				<div class="text-left" style="position:absolute">
					<strong>Informasi Rencana Operasi</strong>
				</div>
				<div class="text-right">
					<label *ngIf="info_ro?.stage == 2" class="label label-danger"><i class="fa fa-close"> UnChecked</i></label>
					<label *ngIf="info_ro?.stage > 2" class="label label-primary"><i class="fa fa-check"> Checked</i></label>
				</div>
				<ul class="list-group clear-list">
					<li class="list-group-item fist-item">
						<span class="pull-right"> {{info_ro?.no_ro}} </span>
						Nomor Rencana Operasi
					</li>
					<li class="list-group-item">
						<span class="pull-right"> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </span>
						tanggal
					</li>
					<li class="list-group-item">
						<span class="pull-right"> {{info_ro?.hospital_name}} </span>
						Rumah Sakit
					</li>
					<li class="list-group-item">
						<span class="pull-right"> {{info_ro?.doctor_name}} </span>
						Dokter
					</li>
					<li class="list-group-item">
						<span class="pull-right"> {{info_ro?.pasien}} </span>
						Pasien
					</li>
					<li class="list-group-item">
						<span class="pull-right"> {{info_ro?.jenis_tagihan_name}} </span>
						Jenis Tagihan
					</li>
					<li class="list-group-item">
						<span class="pull-right"> {{info_ro?.type_ro_name}} </span>
						Tipe
					</li>
				</ul>
				<strong>Notes</strong>
				<p>{{info_ro?.remarks}}</p>
				<p>
					<button *ngIf="info_ro?.stage > 2" (click)="next_stage('prev')" type="button" class="btn btn-block btn-outline btn-danger">Batalkan Checklist</button>
					<button *ngIf="info_ro?.stage == 2" (click)="next_stage('next')" type="button" class="btn btn-block btn-outline btn-primary">Konfirmasi Checklist</button>
				</p>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>List Product yang digunakan</h5>
				</div>
				<div class="ibox-content">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>product</th>
							<th>Kode Box</th>
							<th style="width:40%" *ngIf="privilege_list.includes('priv_checklist_w')">Action</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let rowData of product_list">
							<td>{{rowData.product_name}}</td>
							<td>{{rowData.code_box}}</td>
							<td class="text-right" *ngIf="privilege_list.includes('priv_checklist_w')">
								<div class="btn-group">
									<button class="btn-white btn btn-xs" (click)="assignBox(rowData)" title="Info Box"><i class="fa fa-pencil"> Pilih Box</i></button>
									<button class="btn-white btn btn-xs" (click)="checklist_box(rowData)" title="Isi Box"><i class="fa fa-gear"> View</i></button>
									<button class="btn-white btn btn-xs" (click)="downloadPDF(rowData)" title="Isi Box"><i class="fa fa-gear"> Print</i></button>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Alat Pendukung yang digunakan</h5>
				</div>
				<div class="ibox-content">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Item</th>
							<th>Quantity</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let rowData of data_alat_pendukung_list">
							<td>{{rowData.product_detail_name}}</td>
							<td>{{rowData.quantity}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="no" class="cols-sm-2 control-label">Nomor Rencana Operasi</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-building fa" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'100%'}" [options]="dropdown.ro_list" (onChange)="select_ro($event.value)" formControlName="no"></p-dropdown>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="panel blank-panel">
							<div class="panel-options">
								<ul class="nav nav-tabs">
									<li><a data-toggle="tab" href="#tab-1"><strong>Set Basic</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>Solar 2</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>Solar 3</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>One Touch</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>Kipoplasty</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>BoneCement</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>T-Lock</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>Latteral Mess</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>Lumbal Fusion</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>M10</strong></a></li>
									<li><a data-toggle="tab" href="#tab-1"><strong>Neulen</strong></a></li>
								</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div *ngFor="let product of request_instrument" id="tab-{{product_name}}" class="tab-pane">
										<div class="col-lg-12">		
										akiuuuuuuuuuuhuh
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #assign [backdrop]="'static'" class="modal inmodal">

	<div class="modal-content">
		<div class="ibox-content m-b-sm border-bottom">
			<form enctype="multipart/form-data" [formGroup]="filter_form">
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="warehouse" class="cols-sm-2 control-label">Pilih Gudang</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<p-dropdown [filter]="true" (onChange)="onChangeSubArea($event)" [style]="{'width':'260px'}" [options]="dropdown.subarea" formControlName="warehouse"></p-dropdown>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-12">
						<p-table selectionMode="single" (onRowSelect)="onSelectBox($event.data)" [columns]="cols" [value]="boxdata" autoLayout="true" [paginator]="true" [rows]="20">
							<ng-template pTemplate="header">
								<tr>
									<th>No Box</th>
									<th>Product</th>
									<th>Status</th>
									<th>Tipe Topup</th>
									<th>Kondisi</th>
									<th>No RO</th>
									<th>Lokasi</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-maindata>
								<tr [pSelectableRow]="maindata">
									<td>
										<small>{{maindata.code_box}}</small>
									</td>
									<td>
										<small> {{maindata.product_name}}</small>
									</td>
									<td>
										<div *ngIf="maindata.status == 1">
											<span class="label label-primary">{{maindata.status_name}}</span> - <span>{{maindata.hospital_name}}</span>
										</div>
										<div *ngIf="maindata.status == 2" class="label label-info">{{maindata.status_name}}</div>
										<div *ngIf="maindata.status == 3" class="label label-danger">{{maindata.status_name}}</div>
									</td>
									<td>
										<a *ngIf="maindata.type == '1'">Standard</a>
										<a *ngIf="maindata.type == '2'">Skoliosis</a>
										<a *ngIf="maindata.type == NULL">-</a>
									</td>
									<td>
										<span *ngIf="maindata.condition == 'Complete'" class="label label-primary">{{maindata.condition}}</span>
										<span *ngIf="maindata.condition == 'Not Complete'" class="label label-warning">{{maindata.condition}}</span>
										<span *ngIf="maindata.condition == 'Empty'" class="label">{{maindata.condition}}</span>
									</td>
									<td>
										{{maindata.no_ro}}
									</td>
									<td>
										{{maindata.warehouse_name}}
									</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="assign.dismiss()" style="margin-right:5px;">Cancel</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Update</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal print -->
<bs-modal #print [backdrop]="'static'" class="modal inmodal">
	<div id="cobatesyangini" class="ibox-content p-xl" style="height: 1300px;">
		<div class="row" style="margin-top:20px;">
			<div class="col-sm-1">
					<img src="assets/img/logopmn.png" style="width: 55px; height: 70px;">
			</div>
			<div class="col-sm-11">
				<address>
					<strong>PT. Patriot Medika Nusantara</strong><br>
					Jl. Kelapa dua, Tangerang - Banten 15810<br>
					Fax : (021) - 7257608<br>
					Telp : (021) - 29015270<br>
				</address>
			</div>
			<div class="col-lg-6">
				<dl class="dl-horizontal">
					<dt>Nama Dokter:</dt> <dd> {{info_ro?.doctor_name}} </dd>
					<dt>Rumah Sakit:</dt> <dd> {{info_ro?.hospital_name}} </dd>
					<dt>Tanggal :</dt> <dd> {{info_ro?.date | date:'d MMMM, y, h:mm:ss a'}} </dd>
				</dl>
			</div>
			<div class="col-lg-6">
				<dl class="dl-horizontal">
					<dt>Nama Pasien:</dt> <dd> {{info_ro?.pasien}} </dd>
					<dt>Nomor R.O:</dt> <dd> {{info_ro?.no_ro}} </dd>
					
				</dl>
			</div>
		</div>

		<div class="body_invoice">
			<div class="row">
				<div class="col-sm-6">
					<h5>Instrument</h5>
					<table class="table" style="font-size:10px;">
						<thead>
							<th>Code</th>
							<th>Item</th>
							<th>Qty</th>
							<th>Std</th>
						</thead>
						<tbody>
							<tr *ngFor="let data of isi_instrument">
								<td style="padding: 0px;">{{data.code}}</td>
								<td style="padding: 0px;">{{data.product_detail_name}}</td>
								<td style="padding: 0px;">
									<span *ngIf="data.quantity == data.standard" class="badge badge-primary">{{data.quantity}}</span>
									<span *ngIf="data.quantity != data.standard && data.quantity != 0" class="badge badge-warning">{{data.quantity}}</span>
									<span *ngIf="data.quantity == 0" class="badge badge-danger">{{data.quantity}}</span>
								</td>
								<td style="padding: 0px;">{{data.standard}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-6" style="font-size:10px;">
					<h5>Implant</h5>
					<table class="table">
						<thead>
							<th>Code</th>
							<th>Item</th>
							<th>Qty</th>
							<th>Std</th>
						</thead>
						<tbody>
							<tr *ngFor="let data of isi_implant">
								<td style="padding: 0px;">{{data.code}}</td>
								<td style="padding: 0px;">{{data.product_detail_name}}</td>
								<td style="padding: 0px;">
									<span *ngIf="data.quantity == data.standard" class="badge badge-primary">{{data.quantity}}</span>
									<span *ngIf="data.quantity != data.standard && data.quantity != 0" class="badge badge-warning">{{data.quantity}}</span>
									<span *ngIf="data.quantity == 0" class="badge badge-danger">{{data.quantity}}</span>
								</td>
								<td style="padding: 0px;">{{data.standard}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
		</div>
</bs-modal>