<div class="wrapper wrapper-content animated fadeInRight">
    
    <div class="ibox-content m-b-sm border-bottom">
      <form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="tanggal" class="cols-sm-2 control-label">Tanggal</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.date" formControlName="date"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="bulan" class="cols-sm-2 control-label">Bulan</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.month" formControlName="month"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="tahun" class="cols-sm-2 control-label">Tahun</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.year" formControlName="year"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Tampilkan Data</button>
      </form>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
          </div>
          <div class="ibox-content">
            
            <p-table [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15">
                <ng-template pTemplate="caption">
                    <div class="ui-helper-clearfix">
                      <div style="float: left;" *ngIf="privilege_list.includes('priv_lp_w')">
                          <button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
                          <button type="button" class="btn btn-primary btn-xs" (click)="master_excel()"> <i class="fa fa-file-o"></i> Export Data</button>  
                      </div>
                      <div style="float: right;">
                        <i class="fa fa-search" style="margin-right: 5px;"></i>
                        <input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
                      </div>
                    </div>
                  </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Date</th>
                  <th>Dokter</th>
                  <th>Rumah Sakit</th>
                  <th>Pasien</th>
                  <th>No MR</th>
                  <th>Syncronize</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td>{{rowData.tanggal | date:'d MMM, y'}}</td>
                  <td>{{rowData.doctor_name}}</td>
                  <td>{{rowData.hospital_name}}</td>
                  <td>{{rowData.pasien}}</td>
                  <td>{{rowData.no_mr}}</td>
                  <td>
                    <label *ngIf="rowData.integrated == 0" class="label label-warning">Belum disesuaikan</label>
                    <label *ngIf="rowData.integrated == 1" class="label label-info">Completed</label>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button title="Edit" class="btn-white btn btn-xs" (click)="handleRowSelect(rowData)"><i class="fa fa-pencil"></i></button>
                      <button title="Item Lain" class="btn-white btn btn-xs" (click)="product_request(rowData)"><i class="fa fa-edit"></i></button>
                      <button *ngIf="privilege_list.includes('priv_lp_w') && rowData.integrated == 0"  title="Syncronize" class="btn btn-xs btn-warning" (click)="syncronize(rowData)"><i class="fa fa-gear"></i></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Create -->
  <bs-modal #create [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
      <form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
        <bs-modal-body>
          <div class="row">
            <div class="col-sm-4 b-r">
              <h3 class="m-t-none m-b">Information</h3>
              
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Tanggal</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <p-calendar dateFormat="yy-mm-dd" inputStyleClass="form-control" mindate="today" [showTime]="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal Operasi" formControlName="tanggal"></p-calendar>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Dokter</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.dokter" formControlName="dokter"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Rumah Sakit</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.hospital" formControlName="hospital" (onChange)="select_hospital($event.value)"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Pasien</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName="pasien" placeholder="Enter Case"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">No Mr</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName="no_mr" placeholder="Enter Case"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Subdist</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.subdist" formControlName="subdist"></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3 class="m-t-none m-b">Product List</h3>
              <div class="form-group col-sm-6">
                <label for="name" class="cols-sm-2 control-label">Box</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.box_list" formControlName="box" (onChange)="onChangeBox($event)"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="name" class="cols-sm-2 control-label">Item</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" formControlName="product_detail"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="name" class="cols-sm-2 control-label">Quantity</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="name" class="cols-sm-2 control-label"></label>
                <div class="cols-sm-10">
                  <div class="input-group" style="margin-top:10px;">
                    <button type="button" class="btn btn-xs btn-primary" (click)="add_to_table()">Tambahkan ke list</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Kode</th>
                      <th>box</th>
                      <th>Item</th>
                      <th>Jumlah</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of store_temp1">
                      <td>{{data.product_code}}</td>
                      <td>{{data.box}}</td>
                      <td>{{data.product_detail_name}}</td>
                      <td>{{data.quantity}}</td>
                      <td>
                        <button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeList(data)" style="margin-right: 5px;"><i
                            class="fa fa-minus"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
          <button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
        </bs-modal-footer>
      </form>
    </div>
  </bs-modal>
  
  <!-- Modal Edit -->
  <bs-modal #edit [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
      <form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
        <bs-modal-body>
            <div class="row">
              <div class="col-sm-4 b-r">
                <h3 class="m-t-none m-b">Information</h3>

                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Tanggal</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                      <p-calendar dateFormat="yy-mm-dd" inputStyleClass="form-control" mindate="today" [showTime]="true" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal Operasi" formControlName="tanggal"></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Dokter</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.dokter" formControlName="dokter"></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Rumah Sakit</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.hospital" formControlName="hospital"></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Pasien</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" formControlName="pasien" placeholder="Enter Case"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">No Mr</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" formControlName="no_mr" placeholder="Enter Case"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="cols-sm-2 control-label">Subdist</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.subdist" formControlName="subdist"></p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3 class="m-t-none m-b" *ngIf="privilege_list.includes('priv_lp_w')">Product List</h3>
                <div class="form-group col-sm-6" *ngIf="privilege_list.includes('priv_lp_w')">
                <label for="name" class="cols-sm-2 control-label">Box</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.box_list" formControlName="box" (onChange)="onChangeBox($event)"></p-dropdown>
                  </div>
                </div>
              </div>
                <div class="form-group col-sm-6" *ngIf="privilege_list.includes('priv_lp_w')">
                  <label for="name" class="cols-sm-2 control-label">Item</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" formControlName="product_detail"></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-6" *ngIf="privilege_list.includes('priv_lp_w')">
                  <label for="name" class="cols-sm-2 control-label">Quantity</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-6" *ngIf="privilege_list.includes('priv_lp_w')">
                  <label for="name" class="cols-sm-2 control-label"></label>
                  <div class="cols-sm-10">
                    <div class="input-group" style="margin-top:10px;">
                      <button type="button" class="btn btn-xs btn-primary" (click)="add_to_table_data()" *ngIf="integrated_status == false">Tambahkan ke list</button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Kode</th>
                        <th>Item</th>
                        <th>Jumlah</th>
                        <th *ngIf="privilege_list.includes('priv_lp_w') && integrated_status == false">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of maindata_detail">
                        <td>{{data.product_detail_code}}</td>
                        <td>{{data.product_detail_name}}</td>
                        <td>{{data.quantity}}</td>
                        <td *ngIf="privilege_list.includes('priv_lp_w') && integrated_status == false">
                          <button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeListData(data)" style="margin-right: 5px;"><i
                              class="fa fa-minus"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false" *ngIf="privilege_list.includes('priv_lp_w')">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Cancel</button>
          <button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Update</button>
        </bs-modal-footer>
      </form>
    </div>
  </bs-modal>

  <!-- Modal tambahan -->
  <bs-modal #tambahan [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
      <form enctype="multipart/form-data" [formGroup]="tambahan_form" (ngSubmit)="onSubmit()">
        <bs-modal-body>
          <div class="row">
            <div class="col-sm-12">
              <h3 class="m-t-none m-b">Tambahan Product Diluar Box</h3>
              <div class="form-group col-sm-4">
                <label for="name" class="cols-sm-2 control-label">Product</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product" formControlName="product" (onChange)="onChangeProduct($event)"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="name" class="cols-sm-2 control-label">Item</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" formControlName="product_detail"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="name" class="cols-sm-2 control-label">Quantity</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-4">
                <div class="cols-sm-12">
                  <div class="input-group" style="margin-top:10px;">
                    <button type="button" class="btn btn-xs btn-primary" (click)="add_tambahan_to_table()" *ngIf="integrated_status == false">Tambahkan ke list</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Kode</th>
                      <th>Item</th>
                      <th>Jumlah</th>
                      <th *ngIf="privilege_list.includes('priv_lp_w') && integrated_status == false">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of maindata_detail">
                      <td>{{data.product_detail_code}}</td>
                      <td>{{data.product_detail_name}}</td>
                      <td>{{data.quantity}}</td>
                      <td *ngIf="privilege_list.includes('priv_lp_w') && integrated_status == false">
                        <button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeListData(data)" style="margin-right: 5px;"><i
                            class="fa fa-minus"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="tambahan.dismiss()" style="margin-right:5px;">Tutup</button>
        </bs-modal-footer>
      </form>
    </div>
  </bs-modal>