<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox-content m-b-sm border-bottom">
		<form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="warehouse" class="cols-sm-2 control-label">Pilih Gudang</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [style]="{'width':'260px'}" [options]="dropdown_filter.warehouse" formControlName="warehouse"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="warehouse" class="cols-sm-2 control-label">Product</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [style]="{'width':'260px'}" [options]="dropdown_filter.product" formControlName="product"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="warehouse" class="cols-sm-2 control-label">Status</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<p-dropdown [style]="{'width':'260px'}" [options]="dropdown_filter.status" formControlName="status"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Filter Data</button>
		</form>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('total')" style="cursor:pointer">
					<span class="label label-primary pull-right">{{count_maindata.total}}</span>
					<h5>Total Box</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('free')" style="cursor:pointer">
					<span class="label label-success pull-right">{{count_maindata.free}}</span>
					<h5>Siap digunakan</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('used')" style="cursor:pointer">
					<span class="label label-warning pull-right">{{count_maindata.used}}</span>
					<h5>Sedang Digunakan</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title filteribox" (click)="filter_fix('maintenance')" style="cursor:pointer">
					<span class="label label-danger pull-right">{{count_maindata.maintenance}}</span>
					<h5>Menunggu Topup</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5><i class="fa fa-tasks"></i> List Box</h5>
					<div class="ibox-tools" *ngIf="privilege_list.includes('priv_box_w')">
						<a class="btn btn-primary btn-xs" (click)="openModal()">Tambahkan Box Baru</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<p-table [responsive]="true" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="40">
							<ng-template pTemplate="header">
								<tr>
									<th>No Box</th>
									<th>Product</th>
									<th>Tipe</th>
									<th>Status</th>
									<th>Kondisi</th>
									<th>Lokasi</th>
									<th *ngIf="privilege_list.includes('priv_box_w')">Action</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-maindata>
								<tr>
									<td><small>{{maindata.code_box}}</small></td>
									<td class="issue-info">
										<a>{{maindata.principle_name}}</a> -
										<small> {{maindata.product_name}}</small>
									</td>
									<td>
										<a *ngIf="maindata.type == '1'">Standard</a>
										<a *ngIf="maindata.type == '2'">Skoliosis</a>
										<a *ngIf="maindata.type == NULL">-</a>
									</td>
									<td>
										<div *ngIf="maindata.status == 1">
											<span class="label label-primary">{{maindata.status_name}}</span> - <span>{{maindata.hospital_name}}</span>
										</div>
										<div *ngIf="maindata.status == 2" class="label label-info">{{maindata.status_name}}</div>
										<div *ngIf="maindata.status == 3" class="label label-danger">{{maindata.status_name}}</div>
										<div *ngIf="maindata.status == 4" class="label label-danger">{{maindata.status_name}}</div>
										<div *ngIf="maindata.status == 5" class="label label-danger">{{maindata.status_name}}</div>
									</td>
									<td>
										<span *ngIf="maindata.condition == 'Complete'" class="label label-primary">{{maindata.condition}}</span>
										<span *ngIf="maindata.condition == 'Not Complete'" class="label label-warning">{{maindata.condition}}</span>
										<span *ngIf="maindata.condition == 'Empty'" class="label">{{maindata.condition}}</span>
									</td>
									
									<td>
										{{maindata.warehouse_name}}
									</td>
									<td class="text-left" *ngIf="privilege_list.includes('priv_box_w')">
										<!-- <button title="Edit" type="button" class="btn btn-xs btn-info" (click)="handleRowSelect(maindata)" style="margin-right: 5px;"><i class="fa fa-edit"></i></button>
										<button title="Checklist" type="button" class="btn btn-xs btn-info" (click)="checklist(maindata)" style="margin-right: 5px;"><i class="fa fa-check-square-o"></i></button> -->
										<div class="btn-group">
											<button class="btn-white btn btn-xs" (click)="handleRowSelect(maindata)" title="Info Box"><i class="fa fa-pencil"></i></button>
											<button class="btn-white btn btn-xs" (click)="checklist(maindata)" title="Isi Box"><i class="fa fa-gear"></i></button>
											<button class="btn-white btn btn-xs" (click)="buffer(maindata)" title="Buffer"><i class="fa fa-cubes"></i></button>
										</div>
									</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Add -->
<bs-modal #add_box [backdrop]="'static'" class="modal inmodal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-12">
						<h3 class="m-t-none m-b">Box</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Product</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cube fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="dropdown?.product" formControlName="product"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Warehouse</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-building-o fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="dropdown?.warehouse" formControlName="warehouse"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Status</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-check fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" (onChange)="select_status($event.value)" [options]="status_box"
									 formControlName="status"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Type</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="type_box"
									 formControlName="type"></p-dropdown>
								</div>
							</div>
						</div>
						<div *ngIf="show_rs" class="form-group">
							<label for="name" class="cols-sm-2 control-label">Rumah Sakit</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-hospital-o fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="dropdown?.hospital" formControlName="rs"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nomor Box</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-barcode fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" formControlName="no_box" placeholder="Nomor Box" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="add_box.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal Edit -->
<bs-modal #edit_box [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-12">
						<h3 class="m-t-none m-b">Box</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Product</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cube fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="dropdown?.product" formControlName="product"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Warehouse</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-building-o fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="dropdown?.warehouse" formControlName="warehouse"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Status</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-check fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" (onChange)="select_status($event.value)" [options]="status_box"
									 formControlName="status"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Type</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cubes fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="type_box"
									 formControlName="type"></p-dropdown>
								</div>
							</div>
						</div>
						<div *ngIf="show_rs" class="form-group">
							<label for="name" class="cols-sm-2 control-label">Rumah Sakit</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-hospital-o fa" aria-hidden="true"></i></span>
									<p-dropdown [filter]="true" [style]="{'width':'100%'}" [options]="dropdown?.hospital" formControlName="rs"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nomor Box</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-barcode fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" formControlName="no_box" placeholder="Nomor Box" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit_box.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Ubah</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>

<!-- Modal checklist -->
<bs-modal #checklist_box [backdrop]="'static'" class="modal inmodal">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffff00" type="square-jelly-box"></ngx-spinner>
	<div class="modal-content">
		<bs-modal-body>
			<div class="row">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Form Topup Box</a></li>
						<li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Informasi Isi Box</a></li>
						<li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Informasi Standard Quantity</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<form enctype="multipart/form-data" [formGroup]="topup_form" (ngSubmit)="new_topup()">
								<bs-modal-body>
									<div class="row">
										<div class="col-sm-6 b-r">
											<div class="form-group">
												<label for="name" class="cols-sm-2 control-label">Checker</label>
												<div class="cols-sm-10">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
														<input type="text" class="form-control" value="Herman" readonly />
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="name" class="cols-sm-2 control-label">Type</label>
												<div class="cols-sm-10">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
														<p-dropdown [style]="{'width':'100%'}" [options]="topup_type" formControlName="type"></p-dropdown>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="name" class="cols-sm-2 control-label">Catatan</label>
												<div class="cols-sm-10">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
														<textarea class="form-control" formControlName="notes" rows="4"></textarea>
													</div>
												</div>
											</div>
											<div style="text-align: right;">
												<button type="button" class="btn btn-xs btn-primary" type="submit" [disabled]="topup_form.invalid">Top Up</button>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="ibox-content">
												<ul>
													<li>But I must explain </li>
													<li>To you how all this mistaken</li>
													<li>Idea of denouncing pleasure </li>
													<li>Great explorer of the truth</li>
													<li>To take a trivial example
														<ul>
															<li>Or one who avoids a pain</li>
															<li>Indignation and dislike men</li>
															<li>Nor again is there anyone </li>
															<li>But who has any right</li>
														</ul>
													</li>
													<li>That they cannot foresee</li>
													<li>Who avoids a pain that produceg</li>
													<li>Consequences that are extremely </li>
												</ul>
											</div>
										</div>
									</div>
								</bs-modal-body>
							</form>
						</div>
						<div id="tab-2" class="tab-pane">
							<div class="panel-body">
								<div class="col-sm-6" style="font-size:11px;">
									<h3>Instrument</h3>
									<table class="table table-border">
										<thead>
											<th>Code</th>
											<th>Item</th>
											<th>Qty</th>
											<th>Std</th>
										</thead>
										<tbody>
											<tr *ngFor="let data of isi_instrument">
												<td style="padding: 0px;">{{data.code}}</td>
												<td style="padding: 0px;">{{data.product_detail_name}}</td>
												<td style="padding: 0px;">
													<span *ngIf="data.quantity == data.standard" class="badge badge-primary">{{data.quantity}}</span>
													<span *ngIf="data.quantity != data.standard && data.quantity != 0" class="badge badge-warning">{{data.quantity}}</span>
													<span *ngIf="data.quantity == 0" class="badge badge-danger">{{data.quantity}}</span>
												</td>
												<td style="padding: 0px;">{{data.standard}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-sm-6" style="font-size:11px;">
									<h3>Implant</h3>
									<table class="table">
										<thead>
											<th>Code</th>
											<th>Item</th>
											<th>Qty</th>
											<th>Std</th>
										</thead>
										<tbody>
											<tr *ngFor="let data of isi_implant">
												<td style="padding: 0px;">{{data.code}}</td>
												<td style="padding: 0px;">{{data.product_detail_name}}</td>
												<td style="padding: 0px;">
													<span *ngIf="data.quantity > data.standard" class="badge badge-info">{{data.quantity}}</span>
													<span *ngIf="data.quantity == data.standard" class="badge badge-primary">{{data.quantity}}</span>
													<span *ngIf="data.quantity < data.standard && data.quantity != 0" class="badge badge-warning">{{data.quantity}}</span>
													<span *ngIf="data.quantity == 0" class="badge badge-danger">{{data.quantity}}</span>
												</td>
												<td style="padding: 0px;">{{data.standard}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="tab-3" class="tab-pane">
							<div class="panel-body">
								<div class="col-sm-6" style="font-size:11px;">
									<h3>Instrument</h3>
									<table class="table table-hover">
										<thead>
											<th>Code</th>
											<th>Item</th>
											<th>Std</th>
											<th>Sco</th>
											<th>Stok</th>
										</thead>
										<tbody>
											<tr *ngFor="let data of maindata_instrument">
												<td style="padding: 0px;">{{data.code}}</td>
												<td style="padding: 0px;">{{data.product_detail_name}}</td>
												<td style="padding: 0px;">{{data.quantity}}</td>
												<td style="padding: 0px;">{{data.quantity_skoliosis}}</td>
												<td style="padding: 0px;">{{data.stok}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-sm-6" style="font-size:11px;">
									<h3>Implant</h3>
									<table class="table">
										<thead>
											<th>Code</th>
											<th>Item</th>
											<th>Std</th>
											<th>Sco</th>
											<th>Stok</th>
										</thead>
										<tbody>
											<tr *ngFor="let data of maindata_implant">
												<td style="padding: 0px;">{{data.code}}</td>
												<td style="padding: 0px;">{{data.product_detail_name}}</td>
												<td style="padding: 0px;">{{data.quantity}}</td>
												<td style="padding: 0px;">{{data.quantity_skoliosis}}</td>
												<td style="padding: 0px;">{{data.stok}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</bs-modal-body>
		<bs-modal-footer [showDefaultButtons]="false">
			<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="checklist_box.dismiss()" style="margin-right:5px;">Tutup</button>
		</bs-modal-footer>
	</div>
</bs-modal>

<!-- Modal checklist -->
<bs-modal #isi_dalam_box [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<bs-modal-header>
			<p>Isi Dalam Box</p>
		</bs-modal-header>
		<bs-modal-body>
			<div class="row">
				<div class="col-sm-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Instrument</h5>
						</div>
						<div class="ibox-content">
							<p-table #maintable [columns]="cols" [value]="isi_instrument" autoLayout="true" [scrollable]="false"
							 scrollHeight="200px" lazyLoadOnInit="true">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th *ngFor="let col of columns">
											{{col.header}}
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-isi_instrument let-columns="columns">
									<tr [pSelectableRow]="isi_instrument">
										<td *ngFor="let col of columns">
											{{isi_instrument[col.field]}}
										</td>

									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Implant</h5>
						</div>
						<div class="ibox-content">
							<p-table #maintable [columns]="cols" [value]="isi_implant" autoLayout="true" [scrollable]="false" scrollHeight="200px"
							 lazyLoadOnInit="true">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th *ngFor="let col of columns">
											{{col.header}}
										</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-isi_implant let-columns="columns">
									<tr [pSelectableRow]="isi_implant">
										<td *ngFor="let col of columns">
											<div *ngIf="col.header == 'qty'">
												<span *ngIf="isi_implant['quantity'] == isi_implant['standard']" class="badge badge-primary">{{isi_implant['quantity']}}</span>
												<span *ngIf="isi_implant['quantity'] != isi_implant['standard']" class="badge badge-warning">{{isi_implant['quantity']}}</span>
											</div>
											<div *ngIf="col.header != 'qty'">
												{{isi_implant[col.field]}}
											</div>
										</td>

									</tr>
								</ng-template>
							</p-table>
						</div>

					</div>
				</div>
			</div>
		</bs-modal-body>
	</div>
</bs-modal>



<!-- Modal Buffer -->
<bs-modal #buffer_box [backdrop]="'static'" class="modal inmodal">
	<div class="modal-content">
		<form enctype="multipart/form-data" [formGroup]="buffer_form" (ngSubmit)="onSubmitEdit()">
			<bs-modal-body>
				<div class="row">
					<div class="col-sm-4 b-r">
						<h3 class="m-t-none m-b">Information</h3>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Item</label>
							<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.product_detail" formControlName="product_detail"></p-dropdown>
							</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Quantity</label>
							<div class="cols-sm-10">
								<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button *ngIf="buffer_form_state == 0" title="Add" type="button" class="btn btn-xs btn-info" (click)="tambah_buffer()"><i class="fa fa-plus"></i> Tambahkan Buffer</button>
							<button *ngIf="buffer_form_state == 1" title="Edit" type="button" class="btn btn-xs btn-info" (click)="edit_buffer()"><i class="fa fa-pecil"></i> Update Quantity</button>
						</div>
					</div>
					<div class="col-sm-8 b-r">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Item</th>
									<th>Quantity</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of data_buffer">
									<td>{{data.product_detail_name}}</td>
									<td>{{data.quantity}}</td>
									<td>
										<!-- <button title="Edit" type="button" class="btn btn-xs btn-white" (click)="editBufferList(data)"><i class="fa fa-pencil"></i></button> -->
										<button title="Delete" type="button" class="btn btn-xs btn-white" (click)="removeBufferList(data)"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</bs-modal-body>
			<bs-modal-footer [showDefaultButtons]="false">
				<button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="buffer_box.dismiss()" style="margin-right:5px;">Batal</button>
				<button type="button" class="btn btn-xs btn-primary" [disabled]="!buffer_form.valid" (click)="buffer_box.dismiss()">Tambahkan</button>
			</bs-modal-footer>
		</form>
	</div>
</bs-modal>