<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#ffff00" type = "square-jelly-box" ></ngx-spinner>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-4">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onStore()">
						<div class="form-group">
							<label for="warehouse" class="cols-sm-2 control-label">Pilih Gudang Tujuan</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.warehouse" (onChange)="select_warehouse($event.value)" formControlName="transfer_to"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="warehouse" class="cols-sm-2 control-label">Principle</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.principle" (onChange)="select_principle($event.value)" formControlName="principle"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="warehouse" class="cols-sm-2 control-label">product</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.product" (onChange)="select_product($event.value)" formControlName="product"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="warehouse" class="cols-sm-2 control-label">product Detail</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
									<p-dropdown [style]="{'width':'260px'}" [filter]="true" [options]="dropdown_form.product_detail" (onChange)="select_product_detail($event.value)" formControlName="product_detail"></p-dropdown>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="warehouse" class="cols-sm-2 control-label">Nominal</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
									<input type="text" (keypress)="numberOnly($event)" pInputText placeholder="Nominal" class="form-control" formControlName="quantity">
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-xs btn-primary" [disabled]="!filter_form.valid" type="submit">Transfer Stok</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="row" *ngIf="selected_product_detail">
				<div class="col-lg-12">
					<div class="ibox">
						<div class="ibox-content">
							<h5 class="m-b-md">Sisa Stok Gudang Pusat</h5>
							<h2 class="text-navy"> 
								<i class="fa fa-play fa-rotate-270"></i> {{sisa_stok.pusat}}
							</h2>
							<small>{{selected_product_detail}}</small>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="ibox">
						<div class="ibox-content">
							<h5 class="m-b-md">Sisa Stok Gudang Tujuan</h5>
							<h2 class="text-navy"> 
								<i class="fa fa-play fa-rotate-270"></i> {{sisa_stok.tujuan}}
							</h2>
							<small>{{selected_product_detail}}</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row" *ngIf="selected_product_detail">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<table class="table table-bordered">
		                    <thead>
		                    <tr>
		                        <th>Product</th>
		                        <th>Quantity</th>
		                        <th>Action</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr *ngFor="let data of store_temp1">
		                        <td>{{data.product_detail_name}}</td>
		                        <td>{{data.quantity}}</td>
		                        <td>
		                        	<button title="Edit" type="button" class="btn btn-xs btn-danger" (click)="removeList(data)" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
		                        </td>
		                    </tr>
		                    </tbody>
		                </table>
		            	<button type="button" class="btn btn-xs btn-primary" (click)="submitpost();" [disabled]="store_temp1.length == 0" type="submit">TopUp</button>
		            </div>
	            </div>
			</div>
		</div>