<div class="wrapper wrapper-content animated fadeInRight ecommerce ng-scope">
    <div class="ibox-content m-b-sm border-bottom">
        <form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="warehouse" class="cols-sm-2 control-label">Pilih Gudang</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.warehouse" formControlName="warehouse"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="warehouse" class="cols-sm-2 control-label">Principle</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.principle" (onChange)="select_principle($event.value)" formControlName="principle"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="warehouse" class="cols-sm-2 control-label">product</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <p-dropdown [style]="{'width':'260px'}" [options]="dropdown_form.product" formControlName="product"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Tampilkan Data</button>
        </form>
    </div>
    <div class="row" *ngIf="show_add">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Sisa Stok Gudang</h5>
                    <h2 class="text-navy"> 
                        <i class="fa fa-play fa-rotate-270"></i> {{sisa_stok?.sisa}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content ">
                    <h5 class="m-b-md">Total Masuk</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-play fa-rotate-270"></i> {{sisa_stok?.in}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Total Keluar</h5>
                    <h2 class="text-danger">
                        <i class="fa fa-play fa-rotate-90"></i> {{sisa_stok?.out}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">

                    <p-table #maintable selectionMode="single" (onRowSelect)="show_stock_card($event)" [columns]="cols_product_detail" [value]="data_product_detail" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix">
                                <div style="float: right;">
                                    <i class="fa fa-search" style="margin-right: 5px;"></i>
                                    <input type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-maindata let-columns="columns">
                            <tr [pSelectableRow]="maindata">
                                <td *ngFor="let col of columns">
                                    {{maindata[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="privilege_list.includes('priv_stok_w')">
            <div class="ibox">
                <div class="ibox-content">
                    <p-table #stocktable selectionMode="single" (onRowSelect)="edit_data($event)" [columns]="cols_stok" [value]="data_stok" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="selected_product_detail_label">
                        <ng-template pTemplate="caption">
                            <div class="ui-helper-clearfix">
                                <div style="float: left;">
                                    <button type="button" *ngIf="show_add" class="btn btn-xs btn-primary" (click)="OpenModal_plus()" style="margin-right: 5px;"><i class="fa fa-plus"></i></button>
                                    <button type="button" *ngIf="show_add" class="btn btn-xs btn-danger" (click)="OpenModal_minus()" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" (click)="stocktable.exportCSV()"></button>
                                </div>
                                <div style="float: right;">
                                    <label>{{selected_product_detail_label}}</label>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data_stok let-columns="columns">
                            <tr [pSelectableRow]="data_stok">
                                <td *ngFor="let col of columns">
                                    {{data_stok[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Modal Plus -->
<bs-modal #create_plus [backdrop]="'static'" class="modal">
        <div class="modal-content">
            <form enctype="multipart/form-data" [formGroup]="plus_form" (ngSubmit)="onSubmit('plus')">
                <bs-modal-body>
                    <label style="text-align: center">{{selected_product_detail_label}}</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <label for="in" class="cols-sm-2 control-label">In</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" formControlName="in"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <label for="in" class="cols-sm-2 control-label">Description</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        <textarea class="form-control" rows="2" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </bs-modal-body>
                <bs-modal-footer [showDefaultButtons]="false">
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create_plus.dismiss()" style="margin-right:5px;">Batal</button>
                    <button type="button" class="btn btn-xs btn-primary" [disabled]="!plus_form.valid" type="submit">Tambah</button>
                </bs-modal-footer>
            </form>
        </div>
    </bs-modal>

    <!-- Modal Minus -->
    <bs-modal #create_minus [backdrop]="'static'" class="modal">
        <div class="modal-content">
            <form enctype="multipart/form-data" [formGroup]="minus_form" (ngSubmit)="onSubmit('minus')">
                <bs-modal-body>
                    <label style="text-align: center">{{selected_product_detail_label}}</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <label for="in" class="cols-sm-2 control-label">Out</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" formControlName="out"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <label for="in" class="cols-sm-2 control-label">Description</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        <textarea class="form-control" rows="2" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </bs-modal-body>
                <bs-modal-footer [showDefaultButtons]="false">
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create_minus.dismiss()" style="margin-right:5px;">Batal</button>
                    <button type="button" class="btn btn-xs btn-primary" [disabled]="!minus_form.valid" type="submit">Tambah</button>
                </bs-modal-footer>
            </form>
        </div>
    </bs-modal>


    <!-- Modal Edit -->
    <bs-modal #edit [backdrop]="'static'" class="modal">
        <div class="modal-content">
            <form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
                <bs-modal-body>
                    <label style="text-align: center">{{selected_product_detail_label}}</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <label for="in" class="cols-sm-2 control-label">In</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" formControlName="in"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <label for="in" class="cols-sm-2 control-label">Out</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" formControlName="out"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="cols-sm-10">
                                    <label for="in" class="cols-sm-2 control-label">Description</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        <textarea class="form-control" rows="2" formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </bs-modal-body>
                <bs-modal-footer [showDefaultButtons]="false">
                    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Batal</button>
                    <button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Ubah</button>
                </bs-modal-footer>
            </form>
        </div>
    </bs-modal>