<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
          <span class="m-r-sm text-muted welcome-message">Selamat Datang di <strong>Logistic System</strong> Patriot Medika Nusantara.</span>
      </li>
       <li>
            <a (click)="logout()">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul>

  </nav>
</div>