<div class="wrapper wrapper-content animated fadeInRight">

  <div class="ibox-content m-b-sm border-bottom">
    <form enctype="multipart/form-data" [formGroup]="filter_form" (ngSubmit)="onSubmitFilter()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="tanggal" class="cols-sm-2 control-label">Gudang</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.warehouse" formControlName="warehouse"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="bulan" class="cols-sm-2 control-label">Bulan</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.month" formControlName="month"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="tahun" class="cols-sm-2 control-label">Tahun</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.year" formControlName="year"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-xs btn-primary" [disabled]="filter_form.invalid">Tampilkan Data</button>
    </form>
  </div>

  <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><i class="fa fa-tasks"></i> {{title_table}}</h5>
          </div>
          <div class="ibox-content">
            <p-table #maintable [columns]="cols" [value]="maindata" autoLayout="true" [paginator]="true" [rows]="15" [scrollable]="false" scrollHeight="200px" lazyLoadOnInit="true" csvSeparator="," exportFilename="testernih">
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                  <div style="float: left;" *ngIf="privilege_list.includes('priv_so_w')">
                      <button type="button" class="btn btn-xs btn-primary" (click)="OpenModal()" style="margin-right: 5px;"><i class="fa fa-plus"></i> Tambah</button>
                  </div>
                  <div style="float: right;">
                    <i class="fa fa-search" style="margin-right: 5px;"></i>
                    <input placeholder="Search..." type="text" pInputText size="50" (input)="maintable.filterGlobal($event.target.value, 'contains')" style="width:200px;">
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th *ngIf="privilege_list.includes('priv_so_w')">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-maindata let-columns="columns">
                <tr [pSelectableRow]="maindata">
                  <td *ngFor="let col of columns">
                    <div *ngIf="col.header == 'Status'">
                      <label *ngIf="maindata[col.field] == 0" class="label label-warning">On Progress</label>
                      <label *ngIf="maindata[col.field] == 1" class="label label-info">Completed</label>
                    </div>
                    <div *ngIf="col.header == 'Tanggal'">{{maindata[col.field] | date:'d MMMM, y'}}</div>
                    <div *ngIf="col.header != 'Status' && col.header != 'Tanggal' ">{{maindata[col.field]}}</div>
                  </td>
                  <td *ngIf="privilege_list.includes('priv_so_w')">
                    <div class="btn-group">
                      <button class="btn-white btn btn-xs" (click)="editForm(maindata)" title="Isi Box">Edit</button>
                      <button class="btn-white btn btn-xs" (click)="handleRowSelect(maindata)" title="Info Box">Stock</button>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length">
                    No records found
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Create -->
<bs-modal #create [backdrop]="'static'" class="modal inmodal">
  <div class="modal-content">
    <form enctype="multipart/form-data" [formGroup]="add_form" (ngSubmit)="onSubmit()">
      <bs-modal-body>
        <div class="row">
          <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Stok Opname Order</h3>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Warehouse</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.warehouse" formControlName="warehouse"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Tanggal</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <p-calendar dateFormat="yy-mm-dd" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="date"></p-calendar>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Keterangan</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" formControlName="description" placeholder="Enter Case"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </bs-modal-body>
      <bs-modal-footer [showDefaultButtons]="false">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="create.dismiss()" style="margin-right:5px;">Cancel</button>
        <button type="button" class="btn btn-xs btn-primary" [disabled]="!add_form.valid" type="submit">Add</button>
      </bs-modal-footer>
    </form>
  </div>
</bs-modal>

  <!-- Modal Edit -->
  <bs-modal #edit [backdrop]="'static'" class="modal inmodal">
    <div class="modal-content">
      <form enctype="multipart/form-data" [formGroup]="edit_form" (ngSubmit)="onSubmitEdit()">
        <bs-modal-body>
          <div class="row">
            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Stok Opname Order</h3>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Warehouse</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [filter]="true" [style]="{'width':'210px'}" [options]="dropdown.warehouse" formControlName="warehouse"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Tanggal</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-calendar dateFormat="yy-mm-dd" [inputStyle]="{'width':'210px'}" placeholder="Pilih Tanggal" formControlName="date"></p-calendar>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Keterangan</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName="description" placeholder="Enter Case"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Status</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                    <p-dropdown [style]="{'width':'210px'}" [options]="dropdown.status" formControlName="status"></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </bs-modal-body>
        <bs-modal-footer [showDefaultButtons]="false">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal" (click)="edit.dismiss()" style="margin-right:5px;">Cancel</button>
          <button type="button" class="btn btn-xs btn-primary" [disabled]="!edit_form.valid" type="submit">Edit</button>
        </bs-modal-footer>
      </form>
    </div>
  </bs-modal>