#scrollmenu{
    width:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#scrollmenu .card {
    display: inline-block;
    vertical-align: text-top;
    width: 30%;
    height: 1000px;;
}

#myWorkContent img {border: 0;}